conf/full_raspberrypi_bcm27xx_bcm2712/files/usr/share/chirpstack-uplink-flows.json
[
  {
    "id": "chirpstack-tab",
    "type": "tab",
    "label": "ChirpStack Integration",
    "disabled": false,
    "info": "Receives LoRaWAN uplink data from ChirpStack and stores sensor readings"
  },
  {
    "id": "chirpstack-uplink-http",
    "type": "http in",
    "z": "chirpstack-tab",
    "name": "POST /chirpstack/uplink",
    "url": "/chirpstack/uplink",
    "method": "post",
    "x": 170,
    "y": 80,
    "wires": [["parse-chirpstack-data"]]
  },
  {
    "id": "parse-chirpstack-data",
    "type": "function",
    "z": "chirpstack-tab",
    "name": "Parse ChirpStack Payload",
    "func": "try {\n  const data = msg.payload;\n  \n  // Extract DevEUI from ChirpStack payload\n  const deveui = data.deviceInfo?.devEui || data.devEUI;\n  \n  if (!deveui) {\n    node.warn('No DevEUI found in uplink data');\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing DevEUI' };\n    return [null, msg];\n  }\n  \n  // ChirpStack sends decoded data in 'object' field\n  const sensorData = data.object || {};\n  \n  node.warn('Uplink from: ' + deveui);\n  node.warn('Data: ' + JSON.stringify(sensorData));\n  \n  // Store data for database insert\n  flow.set('uplink_deveui', deveui);\n  flow.set('uplink_swt_wm1', sensorData.swt_wm1 || null);\n  flow.set('uplink_swt_wm2', sensorData.swt_wm2 || null);\n  flow.set('uplink_light_lux', sensorData.light_lux || null);\n  \n  const now = new Date().toISOString();\n  \n  // Insert sensor data\n  msg.topic = `INSERT INTO device_data (deveui, swt_wm1, swt_wm2, light_lux, recorded_at) VALUES ('${deveui}', ${sensorData.swt_wm1 || 'NULL'}, ${sensorData.swt_wm2 || 'NULL'}, ${sensorData.light_lux || 'NULL'}, '${now}')`;\n  \n  return [msg, null];\n} catch (err) {\n  node.error('Parse error: ' + err.message);\n  msg.statusCode = 500;\n  msg.payload = { error: 'Parse failed' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 430,
    "y": 80,
    "wires": [["insert-sensor-data"], ["chirpstack-response"]]
  },
  {
    "id": "insert-sensor-data",
    "type": "sqlite",
    "z": "chirpstack-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Save to device_data",
    "x": 690,
    "y": 80,
    "wires": [["update-device-timestamp"]]
  },
  {
    "id": "update-device-timestamp",
    "type": "function",
    "z": "chirpstack-tab",
    "name": "Update Device Timestamp",
    "func": "const deveui = flow.get('uplink_deveui');\nconst now = new Date().toISOString();\n\n// Update the device's updated_at timestamp\nmsg.topic = `UPDATE devices SET updated_at = '${now}' WHERE deveui = '${deveui}'`;\n\nreturn msg;",
    "x": 930,
    "y": 80,
    "wires": [["update-device-db"]]
  },
  {
    "id": "update-device-db",
    "type": "sqlite",
    "z": "chirpstack-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Update Device",
    "x": 1150,
    "y": 80,
    "wires": [["success-response"]]
  },
  {
    "id": "success-response",
    "type": "function",
    "z": "chirpstack-tab",
    "name": "Success",
    "func": "msg.statusCode = 200;\nmsg.payload = { success: true };\nreturn msg;",
    "x": 1340,
    "y": 80,
    "wires": [["chirpstack-response"]]
  },
  {
    "id": "chirpstack-response",
    "type": "http response",
    "z": "chirpstack-tab",
    "name": "HTTP Response",
    "x": 1540,
    "y": 80,
    "wires": []
  }
]
