conf/full_raspberrypi_bcm27xx_bcm2712/files/usr/share/device-api-flows.json
[
  {
    "id": "device-api-tab",
    "type": "tab",
    "label": "Device Management",
    "disabled": false,
    "info": "Device CRUD operations with user auth"
  },
  {
    "id": "get-devices-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "GET /api/devices",
    "url": "/api/devices",
    "method": "get",
    "x": 140,
    "y": 80,
    "wires": [["get-devices-auth"]]
  },
  {
    "id": "get-devices-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token & Get Username",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 380,
    "y": 80,
    "wires": [["get-devices-lookup"], ["device-response"]]
  },
  {
    "id": "get-devices-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 640,
    "y": 80,
    "wires": [["get-devices-query"]]
  },
  {
    "id": "get-devices-query",
    "type": "function",
    "z": "device-api-tab",
    "name": "Build Query",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nmsg.topic = `SELECT * FROM devices WHERE user_id = ${userId} ORDER BY created_at DESC`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 840,
    "y": 80,
    "wires": [["get-devices-db"], ["device-response"]]
  },
  {
    "id": "get-devices-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Get Devices",
    "x": 1040,
    "y": 80,
    "wires": [["format-devices"]]
  },
  {
    "id": "format-devices",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "// Store devices in flow context\nflow.set('devices_to_format', msg.payload || []);\n\nif (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 200;\n  msg.payload = [];\n  return msg;\n}\n\n// Get DevEUIs to query for latest data\nconst deveuiList = msg.payload.map(d => `'${d.deveui}'`).join(',');\n\n// Query for latest sensor data for each device\nmsg.topic = `\n  SELECT \n    dd.deveui,\n    dd.swt_wm1,\n    dd.swt_wm2,\n    dd.light_lux\n  FROM device_data dd\n  INNER JOIN (\n    SELECT deveui, MAX(recorded_at) as max_time\n    FROM device_data\n    WHERE deveui IN (${deveuiList})\n    GROUP BY deveui\n  ) latest ON dd.deveui = latest.deveui AND dd.recorded_at = latest.max_time\n`;\n\nreturn msg;",
    "x": 1230,
    "y": 80,
    "wires": [["fetch-latest-data"]]
  },
  {
    "id": "fetch-latest-data",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Get Latest Data",
    "x": 1450,
    "y": 80,
    "wires": [["merge-device-data"]]
  },
  {
    "id": "merge-device-data",
    "type": "function",
    "z": "device-api-tab",
    "name": "Merge Data",
    "func": "const devices = flow.get('devices_to_format') || [];\nconst sensorData = msg.payload || [];\n\n// Create a map of deveui -> latest data\nconst dataMap = {};\nsensorData.forEach(d => {\n  dataMap[d.deveui] = {\n    swt_wm1: d.swt_wm1,\n    swt_wm2: d.swt_wm2,\n    light_lux: d.light_lux\n  };\n});\n\n// Merge devices with their latest data\nconst result = devices.map(d => ({\n  deveui: d.deveui,\n  name: d.name,\n  type_id: d.type_id,\n  last_seen: d.updated_at,\n  latest_data: dataMap[d.deveui] || {},\n  current_state: d.current_state,\n  target_state: d.target_state,\n  irrigation_zone_id: d.irrigation_zone_id\n}));\n\nmsg.statusCode = 200;\nmsg.payload = result;\nreturn msg;",
    "x": 1650,
    "y": 80,
    "wires": [["device-response"]]
  },
  {
    "id": "get-catalog-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "GET /api/catalog",
    "url": "/api/catalog",
    "method": "get",
    "x": 140,
    "y": 180,
    "wires": [["catalog-response"]]
  },
  {
    "id": "catalog-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Return Catalog",
    "func": "msg.statusCode = 200;\nmsg.payload = [\n  { id: 'KIWI_SENSOR', name: 'Kiwi Soil Sensor' },\n  { id: 'STREGA_VALVE', name: 'Strega Smart Valve' }\n];\nreturn msg;",
    "x": 370,
    "y": 180,
    "wires": [["device-response"]]
  },
  {
    "id": "device-response",
    "type": "http response",
    "z": "device-api-tab",
    "name": "Response",
    "headers": {
      "Content-Type": "application/json",
      "Access-Control-Allow-Origin": "*",
      "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
      "Access-Control-Allow-Headers": "Content-Type,Authorization"
    },
    "x": 1420,
    "y": 80,
    "wires": []
  },
  {
    "id": "post-devices-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "POST /api/devices",
    "url": "/api/devices",
    "method": "post",
    "x": 140,
    "y": 340,
    "wires": [["post-devices-auth"]]
  },
  {
    "id": "post-devices-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Auth & Validate",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  // Validate device data\n  const { deveui, name, type_id } = msg.payload;\n  \n  if (!deveui || !name || !type_id) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Missing required fields: deveui, name, type_id' };\n    return [null, msg];\n  }\n  \n  if (!['KIWI_SENSOR', 'STREGA_VALVE'].includes(type_id)) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Invalid type_id' };\n    return [null, msg];\n  }\n  \n  // Store device data for later\n  flow.set('new_device_deveui', deveui);\n  flow.set('new_device_name', name);\n  flow.set('new_device_type', type_id);\n  \n  // Lookup user ID\n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 370,
    "y": 340,
    "wires": [["post-devices-lookup"], ["device-response"]]
  },
  {
    "id": "post-devices-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 590,
    "y": 340,
    "wires": [["check-existing-device"]]
  },
  {
    "id": "check-existing-device",
    "type": "function",
    "z": "device-api-tab",
    "name": "Check If Device Exists",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nflow.set('new_device_user_id', userId);\n\nconst deveui = flow.get('new_device_deveui');\n\n// Check if device already exists\nmsg.topic = `SELECT * FROM devices WHERE deveui = '${deveui.replace(/'/g, \"''\")}'`;\n\nreturn [msg, null];",
    "outputs": 2,
    "x": 790,
    "y": 340,
    "wires": [["check-device-db"], ["device-response"]]
  },
  {
    "id": "check-device-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Check Device",
    "x": 1000,
    "y": 340,
    "wires": [["post-devices-insert"]]
  },
  {
    "id": "post-devices-insert",
    "type": "function",
    "z": "device-api-tab",
    "name": "Insert or Claim Device",
    "func": "const userId = flow.get('new_device_user_id');\nconst deveui = flow.get('new_device_deveui');\nconst name = flow.get('new_device_name');\nconst type_id = flow.get('new_device_type');\nconst now = new Date().toISOString();\n\n// Check if device already exists\nif (msg.payload && msg.payload.length > 0) {\n  // Device exists - claim it by updating user_id and name\n  msg.topic = `UPDATE devices SET user_id = ${userId}, name = '${name.replace(/'/g, \"''\")}', updated_at = '${now}' WHERE deveui = '${deveui.replace(/'/g, \"''\")}'`;\n  flow.set('device_action', 'claimed');\n} else {\n  // Device doesn't exist - insert new\n  const currentState = type_id === 'STREGA_VALVE' ? \"'CLOSED'\" : 'NULL';\n  const targetState = type_id === 'STREGA_VALVE' ? \"'CLOSED'\" : 'NULL';\n  \n  msg.topic = `INSERT INTO devices (deveui, name, type_id, user_id, current_state, target_state, created_at, updated_at) VALUES ('${deveui.replace(/'/g, \"''\")}', '${name.replace(/'/g, \"''\")}', '${type_id}', ${userId}, ${currentState}, ${targetState}, '${now}', '${now}')`;\n  flow.set('device_action', 'created');\n}\n\nreturn [msg, null];",
    "outputs": 2,
    "x": 1210,
    "y": 340,
    "wires": [["post-devices-db"], ["device-response"]]
  },
  {
    "id": "post-devices-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Save to DB",
    "x": 1430,
    "y": 340,
    "wires": [["post-devices-response"]]
  },
  {
    "id": "post-devices-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "const deveui = flow.get('new_device_deveui');\nconst name = flow.get('new_device_name');\nconst type_id = flow.get('new_device_type');\nconst action = flow.get('device_action');\nconst now = new Date().toISOString();\n\nmsg.statusCode = action === 'claimed' ? 200 : 201;\nmsg.payload = {\n  deveui: deveui,\n  name: name,\n  type_id: type_id,\n  last_seen: now,\n  latest_data: {},\n  current_state: type_id === 'STREGA_VALVE' ? 'CLOSED' : undefined,\n  target_state: type_id === 'STREGA_VALVE' ? 'CLOSED' : undefined\n};\n\nreturn msg;",
    "x": 1650,
    "y": 340,
    "wires": [["device-response"]]
  },
  {
    "id": "delete-device-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "DELETE /api/devices/:deveui",
    "url": "/api/devices/:deveui",
    "method": "delete",
    "x": 140,
    "y": 500,
    "wires": [["delete-device-auth"]]
  },
  {
    "id": "delete-device-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token & Get Username",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  // Store deveui from URL parameter\n  flow.set('delete_device_deveui', msg.req.params.deveui);\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 380,
    "y": 500,
    "wires": [["delete-device-lookup"], ["device-response"]]
  },
  {
    "id": "delete-device-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 640,
    "y": 500,
    "wires": [["delete-device-unlink"]]
  },
  {
    "id": "delete-device-unlink",
    "type": "function",
    "z": "device-api-tab",
    "name": "Unlink Device",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst deveui = flow.get('delete_device_deveui');\n\n// Unlink device by setting user_id to NULL\nmsg.topic = `UPDATE devices SET user_id = NULL WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 840,
    "y": 500,
    "wires": [["delete-device-db"], ["device-response"]]
  },
  {
    "id": "delete-device-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Unlink in DB",
    "x": 1040,
    "y": 500,
    "wires": [["delete-device-response"]]
  },
  {
    "id": "delete-device-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device removed successfully' };\nreturn msg;",
    "x": 1240,
    "y": 500,
    "wires": [["device-response"]]
  },
  {
    "id": "device-options-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "OPTIONS /api/*",
    "url": "/api/*",
    "method": "options",
    "x": 140,
    "y": 600,
    "wires": [["device-options-response"]]
  },
  {
    "id": "device-options-response",
    "type": "http response",
    "z": "device-api-tab",
    "name": "CORS Response",
    "statusCode": "204",
    "headers": {
      "Access-Control-Allow-Origin": "*",
      "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
      "Access-Control-Allow-Headers": "Content-Type,Authorization",
      "Access-Control-Max-Age": "86400"
    },
    "x": 380,
    "y": 600,
    "wires": []
  },
  {
    "id": "post-zone-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "POST /api/irrigation-zones",
    "url": "/api/irrigation-zones",
    "method": "post",
    "x": 140,
    "y": 700,
    "wires": [["post-zone-auth"]]
  },
  {
    "id": "post-zone-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Auth & Validate",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  const { name } = msg.payload;\n  \n  if (!name || name.trim() === '') {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Zone name is required' };\n    return [null, msg];\n  }\n  \n  flow.set('new_zone_name', name.trim());\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 370,
    "y": 700,
    "wires": [["post-zone-lookup"], ["device-response"]]
  },
  {
    "id": "post-zone-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 590,
    "y": 700,
    "wires": [["post-zone-insert"]]
  },
  {
    "id": "post-zone-insert",
    "type": "function",
    "z": "device-api-tab",
    "name": "Insert Zone",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneName = flow.get('new_zone_name');\nconst now = new Date().toISOString();\n\nflow.set('new_zone_user_id', userId);\n\nmsg.topic = `INSERT INTO irrigation_zones (name, user_id, created_at, updated_at) VALUES ('${zoneName.replace(/'/g, \"''\")}', ${userId}, '${now}', '${now}')`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 780,
    "y": 700,
    "wires": [["post-zone-db"], ["device-response"]]
  },
  {
    "id": "post-zone-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Insert Zone",
    "x": 970,
    "y": 700,
    "wires": [["post-zone-get-id"]]
  },
  {
    "id": "post-zone-get-id",
    "type": "function",
    "z": "device-api-tab",
    "name": "Get Zone ID",
    "func": "const userId = flow.get('new_zone_user_id');\nmsg.topic = `SELECT id FROM irrigation_zones WHERE user_id = ${userId} ORDER BY id DESC LIMIT 1`;\nreturn msg;",
    "x": 1160,
    "y": 700,
    "wires": [["post-zone-get-id-db"]]
  },
  {
    "id": "post-zone-get-id-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Get Zone ID",
    "x": 1350,
    "y": 700,
    "wires": [["post-zone-response"]]
  },
  {
    "id": "post-zone-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 500;\n  msg.payload = { message: 'Failed to create zone' };\n  return msg;\n}\n\nconst zoneId = msg.payload[0].id;\nconst zoneName = flow.get('new_zone_name');\nconst now = new Date().toISOString();\n\nmsg.statusCode = 201;\nmsg.payload = {\n  id: zoneId,\n  name: zoneName,\n  device_count: 0,\n  created_at: now,\n  updated_at: now\n};\n\nreturn msg;",
    "x": 1550,
    "y": 700,
    "wires": [["device-response"]]
  },
  {
    "id": "get-zones-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "GET /api/irrigation-zones",
    "url": "/api/irrigation-zones",
    "method": "get",
    "x": 140,
    "y": 860,
    "wires": [["get-zones-auth"]]
  },
  {
    "id": "get-zones-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 380,
    "y": 860,
    "wires": [["get-zones-lookup"], ["device-response"]]
  },
  {
    "id": "get-zones-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 590,
    "y": 860,
    "wires": [["get-zones-query"]]
  },
  {
    "id": "get-zones-query",
    "type": "function",
    "z": "device-api-tab",
    "name": "Build Query",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\n\nmsg.topic = `\n  SELECT \n    iz.id,\n    iz.name,\n    iz.created_at,\n    iz.updated_at,\n    COUNT(d.deveui) as device_count\n  FROM irrigation_zones iz\n  LEFT JOIN devices d ON d.irrigation_zone_id = iz.id AND d.user_id = ${userId}\n  WHERE iz.user_id = ${userId}\n  GROUP BY iz.id\n  ORDER BY iz.created_at DESC\n`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 780,
    "y": 860,
    "wires": [["get-zones-db"], ["device-response"]]
  },
  {
    "id": "get-zones-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Get Zones",
    "x": 970,
    "y": 860,
    "wires": [["get-zones-response"]]
  },
  {
    "id": "get-zones-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "const zones = msg.payload || [];\n\nmsg.statusCode = 200;\nmsg.payload = zones.map(z => ({\n  id: z.id,\n  name: z.name,\n  device_count: z.device_count,\n  created_at: z.created_at,\n  updated_at: z.updated_at\n}));\n\nreturn msg;",
    "x": 1160,
    "y": 860,
    "wires": [["device-response"]]
  },
  {
    "id": "delete-zone-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "DELETE /api/irrigation-zones/:id",
    "url": "/api/irrigation-zones/:id",
    "method": "delete",
    "x": 140,
    "y": 1020,
    "wires": [["delete-zone-auth"]]
  },
  {
    "id": "delete-zone-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 380,
    "y": 1020,
    "wires": [["delete-zone-lookup"], ["device-response"]]
  },
  {
    "id": "delete-zone-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 630,
    "y": 1020,
    "wires": [["delete-zone-verify"]]
  },
  {
    "id": "delete-zone-verify",
    "type": "function",
    "z": "device-api-tab",
    "name": "Verify Zone Ownership",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nflow.set('delete_zone_id', zoneId);\nflow.set('delete_zone_user_id', userId);\n\nmsg.topic = `SELECT id FROM irrigation_zones WHERE id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 860,
    "y": 1020,
    "wires": [["delete-zone-verify-db"], ["device-response"]]
  },
  {
    "id": "delete-zone-verify-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Verify Zone",
    "x": 1090,
    "y": 1020,
    "wires": [["delete-zone-unassign"]]
  },
  {
    "id": "delete-zone-unassign",
    "type": "function",
    "z": "device-api-tab",
    "name": "Unassign Devices",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Zone not found or access denied' };\n  return [null, msg];\n}\n\nconst zoneId = flow.get('delete_zone_id');\nconst userId = flow.get('delete_zone_user_id');\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = NULL WHERE irrigation_zone_id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 1300,
    "y": 1020,
    "wires": [["delete-zone-unassign-db"], ["device-response"]]
  },
  {
    "id": "delete-zone-unassign-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Unassign Devices",
    "x": 1520,
    "y": 1020,
    "wires": [["delete-zone-delete"]]
  },
  {
    "id": "delete-zone-delete",
    "type": "function",
    "z": "device-api-tab",
    "name": "Delete Zone",
    "func": "const zoneId = flow.get('delete_zone_id');\nconst userId = flow.get('delete_zone_user_id');\n\nmsg.topic = `DELETE FROM irrigation_zones WHERE id = ${zoneId} AND user_id = ${userId}`;\nreturn msg;",
    "x": 1720,
    "y": 1020,
    "wires": [["delete-zone-delete-db"]]
  },
  {
    "id": "delete-zone-delete-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Delete Zone",
    "x": 1910,
    "y": 1020,
    "wires": [["delete-zone-response"]]
  },
  {
    "id": "delete-zone-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Zone deleted successfully' };\nreturn msg;",
    "x": 2110,
    "y": 1020,
    "wires": [["device-response"]]
  },
  {
    "id": "assign-device-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "PUT /api/irrigation-zones/:id/devices/:deveui",
    "url": "/api/irrigation-zones/:id/devices/:deveui",
    "method": "put",
    "x": 140,
    "y": 1180,
    "wires": [["assign-device-auth"]]
  },
  {
    "id": "assign-device-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 430,
    "y": 1180,
    "wires": [["assign-device-lookup"], ["device-response"]]
  },
  {
    "id": "assign-device-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 680,
    "y": 1180,
    "wires": [["assign-device-verify-zone"]]
  },
  {
    "id": "assign-device-verify-zone",
    "type": "function",
    "z": "device-api-tab",
    "name": "Verify Zone & Device",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\nconst deveui = msg.req.params.deveui;\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nif (!deveui) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Device EUI is required' };\n  return [null, msg];\n}\n\nflow.set('assign_zone_id', zoneId);\nflow.set('assign_deveui', deveui);\nflow.set('assign_user_id', userId);\n\nmsg.topic = `SELECT id FROM irrigation_zones WHERE id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 920,
    "y": 1180,
    "wires": [["assign-device-verify-zone-db"], ["device-response"]]
  },
  {
    "id": "assign-device-verify-zone-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Verify Zone",
    "x": 1170,
    "y": 1180,
    "wires": [["assign-device-verify-device"]]
  },
  {
    "id": "assign-device-verify-device",
    "type": "function",
    "z": "device-api-tab",
    "name": "Verify Device",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Zone not found or access denied' };\n  return [null, msg];\n}\n\nconst deveui = flow.get('assign_deveui');\nconst userId = flow.get('assign_user_id');\n\nmsg.topic = `SELECT deveui FROM devices WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 1390,
    "y": 1180,
    "wires": [["assign-device-verify-device-db"], ["device-response"]]
  },
  {
    "id": "assign-device-verify-device-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Verify Device",
    "x": 1610,
    "y": 1180,
    "wires": [["assign-device-update"]]
  },
  {
    "id": "assign-device-update",
    "type": "function",
    "z": "device-api-tab",
    "name": "Assign Device",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Device not found or access denied' };\n  return [null, msg];\n}\n\nconst zoneId = flow.get('assign_zone_id');\nconst deveui = flow.get('assign_deveui');\nconst userId = flow.get('assign_user_id');\nconst now = new Date().toISOString();\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = ${zoneId}, updated_at = '${now}' WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn msg;",
    "x": 1820,
    "y": 1180,
    "wires": [["assign-device-update-db"]]
  },
  {
    "id": "assign-device-update-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Assign Device",
    "x": 2020,
    "y": 1180,
    "wires": [["assign-device-response"]]
  },
  {
    "id": "assign-device-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device assigned to zone successfully' };\nreturn msg;",
    "x": 2230,
    "y": 1180,
    "wires": [["device-response"]]
  },
  {
    "id": "unassign-device-http",
    "type": "http in",
    "z": "device-api-tab",
    "name": "DELETE /api/irrigation-zones/:id/devices/:deveui",
    "url": "/api/irrigation-zones/:id/devices/:deveui",
    "method": "delete",
    "x": 140,
    "y": 1340,
    "wires": [["unassign-device-auth"]]
  },
  {
    "id": "unassign-device-auth",
    "type": "function",
    "z": "device-api-tab",
    "name": "Decode Token",
    "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
    "outputs": 2,
    "x": 450,
    "y": 1340,
    "wires": [["unassign-device-lookup"], ["device-response"]]
  },
  {
    "id": "unassign-device-lookup",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Lookup User",
    "x": 710,
    "y": 1340,
    "wires": [["unassign-device-update"]]
  },
  {
    "id": "unassign-device-update",
    "type": "function",
    "z": "device-api-tab",
    "name": "Unassign Device",
    "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\nconst deveui = msg.req.params.deveui;\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nconst now = new Date().toISOString();\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = NULL, updated_at = '${now}' WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId} AND irrigation_zone_id = ${zoneId}`;\nreturn [msg, null];",
    "outputs": 2,
    "x": 950,
    "y": 1340,
    "wires": [["unassign-device-update-db"], ["device-response"]]
  },
  {
    "id": "unassign-device-update-db",
    "type": "sqlite",
    "z": "device-api-tab",
    "mydb": "farming-db-config",
    "sqlquery": "msg.topic",
    "name": "Unassign Device",
    "x": 1180,
    "y": 1340,
    "wires": [["unassign-device-response"]]
  },
  {
    "id": "unassign-device-response",
    "type": "function",
    "z": "device-api-tab",
    "name": "Format Response",
    "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device removed from zone successfully' };\nreturn msg;",
    "x": 1400,
    "y": 1340,
    "wires": [["device-response"]]
  }
]
