conf/full_raspberrypi_bcm27xx_bcm2712/files/usr/share/flows.json
[
    {
        "id": "6c7ae7c3951cc68c",
        "type": "tab",
        "label": "read sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9db13d7826e7d4d",
        "type": "group",
        "z": "6c7ae7c3951cc68c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9947be55f79f7ef",
            "9334ed34746aa5ba",
            "72d99a3ed7268925",
            "0587cbe2e62d1b01",
            "7fb2470b15f3f1a3"
        ],
        "x": 434,
        "y": 99,
        "w": 1492,
        "h": 142
    },
    {
        "id": "b9947be55f79f7ef",
        "type": "mqtt in",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "KIWI",
        "topic": "application/+/device/+/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b0b19352dac3fb34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "baec907c0eed683b"
            ]
        ]
    },
    {
        "id": "baec907c0eed683b",
        "type": "function",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "Filter by Device EUI",
        "func": "var targetEUI = flow.get('targetEUI') || global.get('targetEUI') || msg.targetEUI || 'YOUR_DEVICE_EUI';\nif (msg.payload && msg.payload.devEUI === targetEUI) {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "9334ed34746aa5ba"
            ]
        ]
    },
    {
        "id": "9334ed34746aa5ba",
        "type": "device event",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "up",
        "eventType": "up",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "72d99a3ed7268925"
            ]
        ]
    },
    {
        "id": "72d99a3ed7268925",
        "type": "function",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "Process Data",
        "func": "function convertHzToKPa(input_frequency) {\n    if (input_frequency > 6430) return 0;\n    if (input_frequency >= 4330 && input_frequency <= 6430) return 9 - (input_frequency - 4330) * 0.004286;\n    if (input_frequency >= 2820 && input_frequency <= 4330) return 15 - (input_frequency - 2820) * 0.003974;\n    if (input_frequency >= 1110 && input_frequency <= 2820) return 35 - (input_frequency - 1110) * 0.01170;\n    if (input_frequency >= 770 && input_frequency <= 1110) return 55 - (input_frequency - 770) * 0.05884;\n    if (input_frequency >= 600 && input_frequency <= 770) return 75 - (input_frequency - 600) * 0.1176;\n    if (input_frequency >= 485 && input_frequency <= 600) return 100 - (input_frequency - 485) * 0.2174;\n    if (input_frequency >= 293 && input_frequency <= 485) return 200 - (input_frequency - 293) * 0.5208;\n    if (input_frequency < 293) return 200;\n    return null;\n}\n\nfunction processAndStore(msg) {\n    try {\n        const data = msg.payload;\n        const now = new Date();\n\n        // Convert both frequency readings to kPa\n        const watermark1 = convertHzToKPa(data.object.input5_frequency);\n        const watermark2 = convertHzToKPa(data.object.input6_frequency);\n\n        // Create formatted data structure\n        const formattedData = {\n            timestamp: now.toISOString(),\n            readings: {\n                input5_frequency: data.object.input5_frequency,\n                watermark1: watermark1,\n                input6_frequency: data.object.input6_frequency,\n                watermark2: watermark2,\n                light_intensity: data.object.light_intensity || null\n            }\n        };\n\n        // Update node status with both moisture readings\n        node.status({\n            fill: \"blue\",\n            shape: \"dot\",\n            text: \"WM1: \" + watermark1.toFixed(2) + \" kPa, WM2: \" + watermark2.toFixed(2) + \" kPa\"\n        });\n\n        msg.formattedData = formattedData;\n        return msg;\n\n    } catch (error) {\n        node.error(\"Error processing message: \" + error.message);\n        return null;\n    }\n}\n\nreturn processAndStore(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "e0847e085110d61b",
                "7fb2470b15f3f1a3"
            ]
        ]
    },
    {
        "id": "e0847e085110d61b",
        "type": "function",
        "z": "6c7ae7c3951cc68c",
        "name": "Build SQL INSERT",
        "func": "const data = msg.formattedData;\nconst readings = data.readings;\nconst timestamp = data.timestamp;\nconst swt_kpa = readings.watermark1 !== undefined ? readings.watermark1 : null;\nconst light_lux = readings.light_intensity !== undefined ? readings.light_intensity : null;\nconst temperature_c = readings.temperature_c !== undefined ? readings.temperature_c : (readings.temperature !== undefined ? readings.temperature : null);\nconst humidity_percent = readings.humidity_percent !== undefined ? readings.humidity_percent : (readings.humidity !== undefined ? readings.humidity : null);\nconst sensor_id = 1; // Set this as needed\nlet columns = ['sensor_id', 'timestamp'];\nlet values = [sensor_id, timestamp];\nif (swt_kpa !== null) { columns.push('swt_kpa'); values.push(swt_kpa); }\nif (light_lux !== null) { columns.push('light_lux'); values.push(light_lux); }\nif (temperature_c !== null) { columns.push('temperature_c'); values.push(temperature_c); }\nif (humidity_percent !== null) { columns.push('humidity_percent'); values.push(humidity_percent); }\nconst placeholders = values.map(() => '?').join(',');\nconst sql = `INSERT INTO sensor_data (${columns.join(',')}) VALUES (${placeholders})`;\nmsg.topic = sql;\nmsg.payload = values;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "fd1e6cd909addf6b"
            ]
        ]
    },
    {
        "id": "fd1e6cd909addf6b",
        "type": "sqlite",
        "z": "6c7ae7c3951cc68c",
        "mydb": "efb38c2504b2b25f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Sensor DB Insert",
        "x": 1400,
        "y": 200,
        "wires": [
            [
                "0587cbe2e62d1b01"
            ]
        ]
    },
    {
        "id": "0587cbe2e62d1b01",
        "type": "debug",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "Storage Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 200,
        "wires": []
    },
    {
        "id": "7fb2470b15f3f1a3",
        "type": "debug",
        "z": "6c7ae7c3951cc68c",
        "g": "e9db13d7826e7d4d",
        "name": "Moisture Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "formattedData.readings",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "b504a3379f065177",
        "type": "function",
        "z": "6c7ae7c3951cc68c",
        "name": "Set targetEUI",
        "func": "flow.set('targetEUI', msg.payload.eui);\nmsg.payload = 'Current targetEUI set to: ' + msg.payload.eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "750eb4190ef59842"
            ]
        ]
    },
    {
        "id": "caceae768e9958a2",
        "type": "ui_form",
        "z": "6c7ae7c3951cc68c",
        "name": "Enter Device EUI",
        "label": "Enter Device EUI",
        "group": "f5b6e0000aa82d9f",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Device EUI",
                "value": "eui",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "eui": ""
        },
        "payload": "",
        "submit": "Set EUI",
        "cancel": "",
        "topic": "setEUI",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "b504a3379f065177"
            ]
        ]
    },
    {
        "id": "750eb4190ef59842",
        "type": "ui_text",
        "z": "6c7ae7c3951cc68c",
        "group": "f5b6e0000aa82d9f",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Current EUI",
        "label": "Current Device EUI:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0b19352dac3fb34",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "0",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "efb38c2504b2b25f",
        "type": "sqlitedb",
        "db": "/srv/database.db",
        "mode": "RWC"
    },
    {
        "id": "f5b6e0000aa82d9f",
        "type": "ui_group",
        "name": "Select sensor",
        "tab": "dd52a5aacf7b6166",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd52a5aacf7b6166",
        "type": "ui_tab",
        "name": "Sensor Config",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]