conf/full_raspberrypi_bcm27xx_bcm2708/files/usr/share/flows.json
[
    {
        "id": "auth-tab",
        "type": "tab",
        "label": "Authentication",
        "disabled": false,
        "info": "User authentication endpoints for login and registration",
        "env": []
    },
    {
        "id": "device-api-tab",
        "type": "tab",
        "label": "Device Management",
        "disabled": false,
        "info": "Device CRUD operations with user auth"
    },
    {
        "id": "c2b43a6c6e7d2c11",
        "type": "tab",
        "label": "Scheduler",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49e87447205bb849",
        "type": "tab",
        "label": "Sensor_KIWI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a18de184886c8a8",
        "type": "tab",
        "label": "Actuator_STREGA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a88bb648cac221ce",
        "type": "tab",
        "label": "Simulations (Dev)",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a3f03829ad106e10",
        "type": "tab",
        "label": "Field testing",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7d4f3e45f4b0d111",
        "type": "tab",
        "label": "Download Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d7171577c7b3f8b",
        "type": "group",
        "z": "49e87447205bb849",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "81c98fb07344a787",
            "18559caeee39ebbd",
            "3bf123ebe2143650",
            "d756d419c7b22ee0"
        ],
        "x": 654,
        "y": 99,
        "w": 1272,
        "h": 142
    },
    {
        "id": "b0b19352dac3fb34",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "0",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "25a809a78a5be91a",
        "type": "global-config",
        "env": []
    },
    {
        "id": "734737e846d06893",
        "type": "sqlitedb",
        "db": "/data/db/farming.db",
        "mode": "RW"
    },
    {
        "id": "auth-register-http",
        "type": "http in",
        "z": "auth-tab",
        "name": "POST /auth/register",
        "url": "/auth/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "auth-register-func"
            ]
        ]
    },
    {
        "id": "auth-register-func",
        "type": "function",
        "z": "auth-tab",
        "name": "Register User",
        "func": "// Extract username and password from request\nconst { username, password } = msg.payload;\n\nif (!username || !password) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Username and password are required' };\n  return [null, msg];\n}\n\nif (password.length < 6) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Password must be at least 6 characters' };\n  return [null, msg];\n}\n\n// Store in context for next node to use\nflow.set('register_username', username);\nflow.set('register_password', password);\n\n// Check if user exists\nmsg.topic = `SELECT username FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\nmsg.checkType = 'register';\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "auth-db-query"
            ],
            [
                "auth-response"
            ]
        ]
    },
    {
        "id": "auth-login-http",
        "type": "http in",
        "z": "auth-tab",
        "name": "POST /auth/login",
        "url": "/auth/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "auth-login-func"
            ]
        ]
    },
    {
        "id": "auth-login-func",
        "type": "function",
        "z": "auth-tab",
        "name": "Login User",
        "func": "// Extract username and password from request\nconst { username, password } = msg.payload;\n\nif (!username || !password) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Username and password are required' };\n  return [null, msg];\n}\n\n// Store in context for validation\nflow.set('login_username', username);\nflow.set('login_password', password);\n\n// Query for user\nmsg.topic = `SELECT * FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\nmsg.checkType = 'login';\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "auth-db-query"
            ],
            [
                "auth-response"
            ]
        ]
    },
    {
        "id": "auth-db-query",
        "type": "sqlite",
        "z": "auth-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Query Farming DB",
        "x": 610,
        "y": 150,
        "wires": [
            [
                "auth-process-result"
            ]
        ]
    },
    {
        "id": "auth-process-result",
        "type": "function",
        "z": "auth-tab",
        "name": "Process Result",
        "func": "const checkType = msg.checkType;\nconst result = msg.payload;\n\nif (checkType === 'register') {\n  const username = flow.get('register_username');\n  const password = flow.get('register_password');\n  \n  // Check if user already exists\n  if (result && result.length > 0) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Username already exists' };\n    return [null, msg];\n  }\n  \n  // Insert new user\n  const now = new Date().toISOString();\n  msg.topic = `INSERT INTO users (username, password_hash, created_at) VALUES ('${username.replace(/'/g, \"''\")}', '${password.replace(/'/g, \"''\")}', '${now}')`;\n  msg.insertType = 'register';\n  return [msg, null];\n  \n} else if (checkType === 'login') {\n  const username = flow.get('login_username');\n  const password = flow.get('login_password');\n  \n  // Check if user exists and password matches\n  if (!result || result.length === 0) {\n    msg.statusCode = 401;\n    msg.payload = { message: 'Invalid username or password' };\n    return [null, msg];\n  }\n  \n  const user = result[0];\n  \n  // Simple password check (plain text comparison)\n  if (user.password_hash !== password) {\n    msg.statusCode = 401;\n    msg.payload = { message: 'Invalid username or password' };\n    return [null, msg];\n  }\n  \n  // Generate simple token (base64 of username:timestamp)\n  const token = Buffer.from(`${username}:${Date.now()}`).toString('base64');\n  \n  msg.statusCode = 200;\n  msg.payload = { token };\n  return [null, msg];\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 150,
        "wires": [
            [
                "auth-db-insert"
            ],
            [
                "auth-response"
            ]
        ]
    },
    {
        "id": "auth-db-insert",
        "type": "sqlite",
        "z": "auth-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert User",
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "auth-insert-complete"
            ]
        ]
    },
    {
        "id": "auth-insert-complete",
        "type": "function",
        "z": "auth-tab",
        "name": "Registration Success",
        "func": "msg.statusCode = 201;\nmsg.payload = { success: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 100,
        "wires": [
            [
                "auth-response"
            ]
        ]
    },
    {
        "id": "auth-response",
        "type": "http response",
        "z": "auth-tab",
        "name": "Auth Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type,Authorization"
        },
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "auth-options-http",
        "type": "http in",
        "z": "auth-tab",
        "name": "OPTIONS /auth/*",
        "url": "/auth/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "auth-options-response"
            ]
        ]
    },
    {
        "id": "auth-options-response",
        "type": "http response",
        "z": "auth-tab",
        "name": "CORS Preflight Response",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type,Authorization",
            "Access-Control-Max-Age": "86400"
        },
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd3ab55ea0347a5b",
        "type": "http in",
        "z": "auth-tab",
        "name": "Database Download Endpoint",
        "url": "/download/database",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "f68c8140f5d6eb39"
            ]
        ]
    },
    {
        "id": "f68c8140f5d6eb39",
        "type": "file in",
        "z": "auth-tab",
        "name": "Read Database File",
        "filename": "/data//db/farming.db",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "a85523a4041eb6f4"
            ]
        ]
    },
    {
        "id": "a85523a4041eb6f4",
        "type": "function",
        "z": "auth-tab",
        "name": "Set Download Headers",
        "func": "// Set HTTP headers for file download\nmsg.headers = {\n    'Content-Type': 'application/x-sqlite3',\n    'Content-Disposition': 'attachment; filename=\"farming.db\"'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "ff201b44f81e458b"
            ]
        ]
    },
    {
        "id": "ff201b44f81e458b",
        "type": "http response",
        "z": "auth-tab",
        "name": "Send Database File",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "get-devices-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "GET /api/devices",
        "url": "/api/devices",
        "method": "get",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "get-devices-auth"
            ]
        ]
    },
    {
        "id": "get-devices-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token & Get Username",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 380,
        "y": 80,
        "wires": [
            [
                "get-devices-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-devices-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "get-devices-query"
            ]
        ]
    },
    {
        "id": "get-devices-query",
        "type": "function",
        "z": "device-api-tab",
        "name": "Build Query",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nmsg.topic = `SELECT * FROM devices WHERE user_id = ${userId} ORDER BY created_at DESC`;\nreturn [msg, null];",
        "outputs": 2,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "get-devices-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-devices-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Get Devices",
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "format-devices"
            ]
        ]
    },
    {
        "id": "format-devices",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "// Store devices in flow context\nflow.set('devices_to_format', msg.payload || []);\n\nif (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 200;\n  msg.payload = [];\n  return msg;\n}\n\n// Get DevEUIs to query for latest data\nconst deveuiList = msg.payload\n  .map(d => `'${String(d.deveui || '').trim().toUpperCase()}'`)\n  .join(',');\n\n// Query for latest sensor data for each device (includes last uplink time)\nmsg.topic = `\n  SELECT \n    dd.deveui,\n    dd.recorded_at AS last_uplink_at,\n    dd.swt_wm1,\n    dd.swt_wm2,\n    dd.light_lux,\n    dd.ambient_temperature,\n    dd.relative_humidity\n  FROM device_data dd\n  INNER JOIN (\n    SELECT deveui, MAX(recorded_at) as max_time\n    FROM device_data\n    WHERE deveui IN (${deveuiList})\n    GROUP BY deveui\n  ) latest ON dd.deveui = latest.deveui AND dd.recorded_at = latest.max_time\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "fetch-latest-data"
            ]
        ]
    },
    {
        "id": "fetch-latest-data",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Get Latest Data",
        "x": 1620,
        "y": 80,
        "wires": [
            [
                "merge-device-data"
            ]
        ]
    },
    {
        "id": "merge-device-data",
        "type": "function",
        "z": "device-api-tab",
        "name": "Merge Data",
        "func": "const devices = flow.get('devices_to_format') || [];\nconst sensorData = msg.payload || [];\n\n// Create a map of deveui -> latest data\nconst dataMap = {};\nsensorData.forEach(d => {\n  const key = String(d.deveui || '').trim().toUpperCase();\n  dataMap[key] = {\n    last_uplink_at: d.last_uplink_at,\n    swt_wm1: d.swt_wm1,\n    swt_wm2: d.swt_wm2,\n    light_lux: d.light_lux,\n    ambient_temperature: d.ambient_temperature,\n    relative_humidity: d.relative_humidity\n  };\n});\n\n// Merge devices with their latest data\nconst result = devices.map(d => {\n  const devEui = String(d.deveui || '').trim().toUpperCase();\n  const latest = dataMap[devEui] || {};\n\n  return {\n    deveui: devEui,\n    name: d.name,\n    type_id: d.type_id,\n\n    // Prefer true last uplink; fallback to updated_at if no data yet\n    last_seen: latest.last_uplink_at || d.updated_at,\n\n    latest_data: {\n      swt_wm1: latest.swt_wm1,\n      swt_wm2: latest.swt_wm2,\n      light_lux: latest.light_lux,\n      ambient_temperature: latest.ambient_temperature,\n      relative_humidity: latest.relative_humidity\n    },\n\n    current_state: d.current_state,\n    target_state: d.target_state,\n    irrigation_zone_id: d.irrigation_zone_id\n  };\n});\n\nmsg.statusCode = 200;\nmsg.payload = result;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 80,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-catalog-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "GET /api/catalog",
        "url": "/api/catalog",
        "method": "get",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "catalog-response"
            ]
        ]
    },
    {
        "id": "catalog-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Return Catalog",
        "func": "msg.statusCode = 200;\nmsg.payload = [\n  { id: 'KIWI_SENSOR', name: 'Kiwi Soil Sensor' },\n  { id: 'STREGA_VALVE', name: 'Strega Smart Valve' }\n];\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "device-response",
        "type": "http response",
        "z": "device-api-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type,Authorization"
        },
        "x": 1420,
        "y": 80,
        "wires": []
    },
    {
        "id": "post-devices-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "POST /api/devices",
        "url": "/api/devices",
        "method": "post",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "post-devices-auth"
            ]
        ]
    },
    {
        "id": "post-devices-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Auth & Validate",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  // Validate device data\n  const { deveui, name, type_id } = msg.payload;\n\n  // Normalize DevEUI once, here\n  const deveui_norm = String(deveui || '').trim().toUpperCase();\n\n  \n  if (!deveui_norm || !name || !type_id) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Missing required fields: deveui, name, type_id' };\n    return [null, msg];\n  }\n  \n  if (!['KIWI_SENSOR', 'STREGA_VALVE'].includes(type_id)) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Invalid type_id' };\n    return [null, msg];\n  }\n  \n  // Store device data for later\n  flow.set('new_device_deveui', deveui_norm);\n  flow.set('new_device_name', name);\n  flow.set('new_device_type', type_id);\n  \n  // Lookup user ID\n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "post-devices-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "post-devices-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "check-existing-device"
            ]
        ]
    },
    {
        "id": "check-existing-device",
        "type": "function",
        "z": "device-api-tab",
        "name": "Check If Device Exists",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nflow.set('new_device_user_id', userId);\n\nconst deveui = flow.get('new_device_deveui');\n\n// Check if device already exists\nmsg.topic = `SELECT * FROM devices WHERE deveui = '${deveui.replace(/'/g, \"''\")}'`;\n\nreturn [msg, null];",
        "outputs": 2,
        "x": 790,
        "y": 340,
        "wires": [
            [
                "check-device-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "check-device-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Check Device",
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "post-devices-insert"
            ]
        ]
    },
    {
        "id": "post-devices-insert",
        "type": "function",
        "z": "device-api-tab",
        "name": "Insert or Claim Device",
        "func": "const userId = Number(flow.get('new_device_user_id'));\nconst deveui = String(flow.get('new_device_deveui') || '').trim().toUpperCase();\nconst name = String(flow.get('new_device_name') || '').trim();\nconst type_id = String(flow.get('new_device_type') || '').trim();\nconst now = new Date().toISOString();\n\nif (!Number.isFinite(userId) || !deveui || !name || !type_id) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid request data' };\n  return [null, msg];\n}\n\nconst existing = Array.isArray(msg.payload) && msg.payload.length > 0 ? msg.payload[0] : null;\n\nif (existing) {\n  const existingUserId = existing.user_id; // can be null\n  const existingType = existing.type_id;\n\n  // Optional strictness: prevent changing type_id of an existing device\n  if (existingType && existingType !== type_id) {\n    msg.statusCode = 409;\n    msg.payload = { message: `Device exists with different type_id (${existingType})` };\n    return [null, msg];\n  }\n\n  // If claimed by another user -> refuse\n  if (existingUserId !== null && Number(existingUserId) !== userId) {\n    msg.statusCode = 409;\n    msg.payload = { message: 'Device already claimed by another user' };\n    return [null, msg];\n  }\n\n  // Claim or update (unclaimed OR same user)\n  msg.topic = `\n    UPDATE devices\n    SET\n      user_id = ${userId},\n      name = '${name.replace(/'/g, \"''\")}',\n      claimed_at = COALESCE(claimed_at, '${now}'),\n      updated_at = '${now}'\n    WHERE deveui = '${deveui.replace(/'/g, \"''\")}';\n  `.trim();\n\n  flow.set('device_action', (existingUserId === null ? 'claimed' : 'updated'));\n  return [msg, null];\n}\n\n// Device doesn't exist -> insert new\nconst currentState = type_id === 'STREGA_VALVE' ? \"'CLOSED'\" : 'NULL';\nconst targetState = type_id === 'STREGA_VALVE' ? \"'CLOSED'\" : 'NULL';\n\nmsg.topic = `\n  INSERT INTO devices\n    (deveui, name, type_id, user_id, current_state, target_state, created_at, updated_at, claimed_at)\n  VALUES\n    ('${deveui.replace(/'/g, \"''\")}', '${name.replace(/'/g, \"''\")}', '${type_id}', ${userId}, ${currentState}, ${targetState}, '${now}', '${now}', '${now}');\n`.trim();\n\nflow.set('device_action', 'created');\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 340,
        "wires": [
            [
                "post-devices-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "post-devices-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Save to DB",
        "x": 1430,
        "y": 340,
        "wires": [
            [
                "post-devices-response"
            ]
        ]
    },
    {
        "id": "post-devices-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "const deveui = flow.get('new_device_deveui');\nconst name = flow.get('new_device_name');\nconst type_id = flow.get('new_device_type');\nconst action = flow.get('device_action'); // 'created' | 'claimed' | 'updated'\n\nconst now = new Date().toISOString();\n\nif (action === 'created') msg.statusCode = 201;\nelse msg.statusCode = 200; // claimed or updated\n\nmsg.payload = {\n  deveui,\n  name,\n  type_id,\n  last_seen: now,\n  latest_data: {},\n  current_state: type_id === 'STREGA_VALVE' ? 'CLOSED' : undefined,\n  target_state: type_id === 'STREGA_VALVE' ? 'CLOSED' : undefined\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 340,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-device-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "DELETE /api/devices/:deveui",
        "url": "/api/devices/:deveui",
        "method": "delete",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "delete-device-auth"
            ]
        ]
    },
    {
        "id": "delete-device-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token & Get Username",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  // Store deveui from URL parameter\n  const deveui_norm = String(msg.req.params.deveui || '').trim().toUpperCase();\n  flow.set('delete_device_deveui', deveui_norm);\n\n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "delete-device-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-device-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "delete-device-unlink"
            ]
        ]
    },
    {
        "id": "delete-device-unlink",
        "type": "function",
        "z": "device-api-tab",
        "name": "Unlink Device",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst deveui = flow.get('delete_device_deveui');\n\n// Unlink device by setting user_id to NULL\nmsg.topic = `UPDATE devices SET user_id = NULL WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn [msg, null];",
        "outputs": 2,
        "x": 840,
        "y": 500,
        "wires": [
            [
                "delete-device-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-device-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Unlink in DB",
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "delete-device-response"
            ]
        ]
    },
    {
        "id": "delete-device-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device removed successfully' };\nreturn msg;",
        "outputs": 1,
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "device-options-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "OPTIONS /api/*",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "device-options-response"
            ]
        ]
    },
    {
        "id": "device-options-response",
        "type": "http response",
        "z": "device-api-tab",
        "name": "CORS Response",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type,Authorization",
            "Access-Control-Max-Age": "86400"
        },
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "post-zone-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "POST /api/irrigation-zones",
        "url": "/api/irrigation-zones",
        "method": "post",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "post-zone-auth"
            ]
        ]
    },
    {
        "id": "post-zone-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Auth & Validate",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  const { name } = msg.payload;\n  \n  if (!name || name.trim() === '') {\n    msg.statusCode = 400;\n    msg.payload = { message: 'Zone name is required' };\n    return [null, msg];\n  }\n  \n  flow.set('new_zone_name', name.trim());\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "post-zone-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "post-zone-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "post-zone-insert"
            ]
        ]
    },
    {
        "id": "post-zone-insert",
        "type": "function",
        "z": "device-api-tab",
        "name": "Insert Zone",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneName = flow.get('new_zone_name');\nconst now = new Date().toISOString();\n\nflow.set('new_zone_user_id', userId);\n\nmsg.topic = `INSERT INTO irrigation_zones (name, user_id, created_at, updated_at) VALUES ('${zoneName.replace(/'/g, \"''\")}', ${userId}, '${now}', '${now}')`;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 700,
        "wires": [
            [
                "post-zone-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "post-zone-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert Zone",
        "x": 970,
        "y": 700,
        "wires": [
            [
                "post-zone-get-id"
            ]
        ]
    },
    {
        "id": "post-zone-get-id",
        "type": "function",
        "z": "device-api-tab",
        "name": "Get Zone ID",
        "func": "const userId = flow.get('new_zone_user_id');\nmsg.topic = `SELECT id FROM irrigation_zones WHERE user_id = ${userId} ORDER BY id DESC LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "post-zone-get-id-db"
            ]
        ]
    },
    {
        "id": "post-zone-get-id-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Get Zone ID",
        "x": 1350,
        "y": 700,
        "wires": [
            [
                "post-zone-response"
            ]
        ]
    },
    {
        "id": "post-zone-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 500;\n  msg.payload = { message: 'Failed to create zone' };\n  return msg;\n}\n\nconst zoneId = msg.payload[0].id;\nconst zoneName = flow.get('new_zone_name');\nconst now = new Date().toISOString();\n\nmsg.statusCode = 201;\nmsg.payload = {\n  id: zoneId,\n  name: zoneName,\n  device_count: 0,\n  created_at: now,\n  updated_at: now\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 1550,
        "y": 700,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-zones-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "GET /api/irrigation-zones",
        "url": "/api/irrigation-zones",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "get-zones-auth"
            ]
        ]
    },
    {
        "id": "get-zones-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 860,
        "wires": [
            [
                "get-zones-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-zones-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "get-zones-query"
            ]
        ]
    },
    {
        "id": "get-zones-query",
        "type": "function",
        "z": "device-api-tab",
        "name": "Build Query",
        "func": "// Build Query (GET /api/irrigation-zones)\n// Adds LEFT JOIN to irrigation_schedules so the existing Format Response can emit `schedule`.\n\nif (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: \"User not found\" };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\n\nmsg.topic = `\n  SELECT\n    iz.id,\n    iz.name,\n    iz.created_at,\n    iz.updated_at,\n\n    COUNT(d.deveui) as device_count,\n\n    s.trigger_metric,\n    s.threshold_kpa,\n    s.duration_minutes,\n    s.enabled,\n    s.last_triggered_at\n\n  FROM irrigation_zones iz\n\n  LEFT JOIN devices d\n    ON d.irrigation_zone_id = iz.id\n   AND d.user_id = ${userId}\n\n  LEFT JOIN irrigation_schedules s\n    ON s.irrigation_zone_id = iz.id\n\n  WHERE iz.user_id = ${userId}\n  AND iz.deleted_at IS NULL\n\n  GROUP BY iz.id\n  ORDER BY iz.created_at DESC;\n`;\n\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 860,
        "wires": [
            [
                "get-zones-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "get-zones-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Get Zones",
        "x": 970,
        "y": 860,
        "wires": [
            [
                "get-zones-response"
            ]
        ]
    },
    {
        "id": "get-zones-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "const rows = msg.payload || [];\n\nmsg.statusCode = 200;\nmsg.payload = rows.map(r => ({\n  id: r.id,\n  name: r.name,\n  device_count: r.device_count,\n  created_at: r.created_at,\n  updated_at: r.updated_at,\n\n  schedule: r.trigger_metric\n    ? {\n      trigger_metric: r.trigger_metric,\n      threshold_kpa: r.threshold_kpa,\n      duration_minutes: r.duration_minutes,   // ← ADD THIS\n      enabled: Boolean(r.enabled),\n      last_triggered_at: r.last_triggered_at\n    }\n    : null\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 860,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-zone-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "DELETE /api/irrigation-zones/:id",
        "url": "/api/irrigation-zones/:id",
        "method": "delete",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "delete-zone-auth"
            ]
        ]
    },
    {
        "id": "delete-zone-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "delete-zone-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-zone-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "delete-zone-verify"
            ]
        ]
    },
    {
        "id": "delete-zone-verify",
        "type": "function",
        "z": "device-api-tab",
        "name": "Verify Zone Ownership",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nflow.set('delete_zone_id', zoneId);\nflow.set('delete_zone_user_id', userId);\n\nmsg.topic = `SELECT id FROM irrigation_zones WHERE id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1020,
        "wires": [
            [
                "delete-zone-verify-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-zone-verify-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Verify Zone",
        "x": 1090,
        "y": 1020,
        "wires": [
            [
                "delete-zone-unassign"
            ]
        ]
    },
    {
        "id": "delete-zone-unassign",
        "type": "function",
        "z": "device-api-tab",
        "name": "Unassign Devices",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Zone not found or access denied' };\n  return [null, msg];\n}\n\nconst zoneId = flow.get('delete_zone_id');\nconst userId = flow.get('delete_zone_user_id');\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = NULL WHERE irrigation_zone_id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1020,
        "wires": [
            [
                "delete-zone-unassign-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "delete-zone-unassign-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Unassign Devices",
        "x": 1520,
        "y": 1020,
        "wires": [
            [
                "delete-zone-delete"
            ]
        ]
    },
    {
        "id": "delete-zone-delete",
        "type": "function",
        "z": "device-api-tab",
        "name": "(Soft) Delete Zone",
        "func": "const zoneId = flow.get('delete_zone_id');\nconst userId = flow.get('delete_zone_user_id');\nconst now = new Date().toISOString();\n\nmsg.topic = `\n  UPDATE irrigation_zones\n  SET deleted_at = '${now}', updated_at = '${now}'\n  WHERE id = ${zoneId}\n    AND user_id = ${userId}\n    AND deleted_at IS NULL;\n`.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1020,
        "wires": [
            [
                "delete-zone-delete-db"
            ]
        ]
    },
    {
        "id": "delete-zone-delete-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Delete Zone",
        "x": 1930,
        "y": 1020,
        "wires": [
            [
                "8180476b6ab55d6e"
            ]
        ]
    },
    {
        "id": "delete-zone-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Zone deleted successfully' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 1020,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "assign-device-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "PUT /api/irrigation-zones/:id/devices/:deveui",
        "url": "/api/irrigation-zones/:id/devices/:deveui",
        "method": "put",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "assign-device-auth"
            ]
        ]
    },
    {
        "id": "assign-device-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "assign-device-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "assign-device-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "assign-device-verify-zone"
            ]
        ]
    },
    {
        "id": "assign-device-verify-zone",
        "type": "function",
        "z": "device-api-tab",
        "name": "Verify Zone & Device",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\nconst deveui = String(msg.req.params.deveui || '').trim().toUpperCase();\n\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nif (!deveui) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Device EUI is required' };\n  return [null, msg];\n}\n\nflow.set('assign_zone_id', zoneId);\nflow.set('assign_deveui', deveui);\nflow.set('assign_user_id', userId);\n\nmsg.topic = `SELECT id FROM irrigation_zones WHERE id = ${zoneId} AND user_id = ${userId}`;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1180,
        "wires": [
            [
                "assign-device-verify-zone-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "assign-device-verify-zone-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Verify Zone",
        "x": 1170,
        "y": 1180,
        "wires": [
            [
                "assign-device-verify-device"
            ]
        ]
    },
    {
        "id": "assign-device-verify-device",
        "type": "function",
        "z": "device-api-tab",
        "name": "Verify Device",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Zone not found or access denied' };\n  return [null, msg];\n}\n\nconst deveui = flow.get('assign_deveui');\nconst userId = flow.get('assign_user_id');\n\nmsg.topic = `SELECT deveui FROM devices WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn [msg, null];",
        "outputs": 2,
        "x": 1390,
        "y": 1180,
        "wires": [
            [
                "assign-device-verify-device-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "assign-device-verify-device-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Verify Device",
        "x": 1610,
        "y": 1180,
        "wires": [
            [
                "assign-device-update"
            ]
        ]
    },
    {
        "id": "assign-device-update",
        "type": "function",
        "z": "device-api-tab",
        "name": "Assign Device",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Device not found or access denied' };\n  return [null, msg];\n}\n\nconst zoneId = flow.get('assign_zone_id');\nconst deveui = flow.get('assign_deveui');\nconst userId = flow.get('assign_user_id');\nconst now = new Date().toISOString();\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = ${zoneId}, updated_at = '${now}' WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId}`;\nreturn msg;",
        "outputs": 1,
        "x": 1820,
        "y": 1180,
        "wires": [
            [
                "assign-device-update-db"
            ]
        ]
    },
    {
        "id": "assign-device-update-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Assign Device",
        "x": 2020,
        "y": 1180,
        "wires": [
            [
                "assign-device-response"
            ]
        ]
    },
    {
        "id": "assign-device-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device assigned to zone successfully' };\nreturn msg;",
        "outputs": 1,
        "x": 2230,
        "y": 1180,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "unassign-device-http",
        "type": "http in",
        "z": "device-api-tab",
        "name": "DELETE /api/irrigation-zones/:id/devices/:deveui",
        "url": "/api/irrigation-zones/:id/devices/:deveui",
        "method": "delete",
        "x": 140,
        "y": 1340,
        "wires": [
            [
                "unassign-device-auth"
            ]
        ]
    },
    {
        "id": "unassign-device-auth",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  const username = decoded.split(':')[0];\n  \n  msg.topic = `SELECT id FROM users WHERE username = '${username.replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 450,
        "y": 1340,
        "wires": [
            [
                "unassign-device-lookup"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "unassign-device-lookup",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 710,
        "y": 1340,
        "wires": [
            [
                "unassign-device-update"
            ]
        ]
    },
    {
        "id": "unassign-device-update",
        "type": "function",
        "z": "device-api-tab",
        "name": "Unassign Device",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = msg.payload[0].id;\nconst zoneId = parseInt(msg.req.params.id);\nconst deveui = msg.req.params.deveui;\n\nif (isNaN(zoneId)) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Invalid zone ID' };\n  return [null, msg];\n}\n\nconst now = new Date().toISOString();\n\nmsg.topic = `UPDATE devices SET irrigation_zone_id = NULL, updated_at = '${now}' WHERE deveui = '${deveui.replace(/'/g, \"''\")}' AND user_id = ${userId} AND irrigation_zone_id = ${zoneId}`;\nreturn [msg, null];",
        "outputs": 2,
        "x": 950,
        "y": 1340,
        "wires": [
            [
                "unassign-device-update-db"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "unassign-device-update-db",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Unassign Device",
        "x": 1180,
        "y": 1340,
        "wires": [
            [
                "unassign-device-response"
            ]
        ]
    },
    {
        "id": "unassign-device-response",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = { message: 'Device removed from zone successfully' };\nreturn msg;",
        "outputs": 1,
        "x": 1400,
        "y": 1340,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "e970d93ded4679af",
        "type": "http in",
        "z": "device-api-tab",
        "name": "PUT /api/irrigation-zones/:id/schedule",
        "url": "/api/irrigation-zones/:id/schedule",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "70fcbea336401bd1",
                "c447480b11bd0695"
            ]
        ]
    },
    {
        "id": "70fcbea336401bd1",
        "type": "function",
        "z": "device-api-tab",
        "name": "Decode Token",
        "func": "// Decode Token + preserve request body for later nodes (robust: body may be object or JSON string)\n\nmsg.req_body = msg.payload;\n\nconst authHeader = msg.req?.headers?.authorization;\n\nif (!authHeader || !authHeader.startsWith(\"Bearer \")) {\n  msg.statusCode = 401;\n  msg.payload = { message: \"Unauthorized\" };\n  return [null, msg];\n}\n\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, \"base64\").toString(\"utf-8\");\n  const username = decoded.split(\":\")[0];\n\n  msg.topic = `SELECT id FROM users WHERE username = '${String(username).replace(/'/g, \"''\")}'`;\n  return [msg, null];\n} catch (err) {\n  msg.statusCode = 401;\n  msg.payload = { message: \"Invalid token\" };\n  return [null, msg];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1440,
        "wires": [
            [
                "697f8cfd92ccf539"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "697f8cfd92ccf539",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Lookup User",
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "22cc64fa2a899cea"
            ]
        ]
    },
    {
        "id": "22cc64fa2a899cea",
        "type": "function",
        "z": "device-api-tab",
        "name": "Verify Zone Ownership",
        "func": "// Verify Zone Ownership + validate schedule payload (including duration)\n\ntry {\n  // 1) Validate user lookup result\n  if (!Array.isArray(msg.payload) || msg.payload.length === 0 || msg.payload[0]?.id === undefined) {\n    msg.statusCode = 401;\n    msg.payload = { message: \"User not found\" };\n    return [null, msg];\n  }\n\n  const userId = Number(msg.payload[0].id);\n\n  // 2) Validate zone id\n  const zoneId = parseInt(msg.req?.params?.id, 10);\n\n  if (!Number.isFinite(userId)) {\n    msg.statusCode = 401;\n    msg.payload = { message: \"Invalid user ID\" };\n    return [null, msg];\n  }\n\n  if (!Number.isFinite(zoneId)) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"Invalid zone ID\" };\n    return [null, msg];\n  }\n\n  // 3) Parse preserved request body\n  let body = msg.req_body;\n  if (typeof body === \"string\") {\n    try { body = JSON.parse(body); } catch { body = {}; }\n  }\n  if (!body || typeof body !== \"object\") body = {};\n\n  // 4) Parse fields (robust against GUI naming)\n  const trigger_metric =\n    body.trigger_metric ??\n    body.triggerMetric ??\n    body.metric ??\n    body.metric_id;\n\n  const threshold_kpa =\n    body.threshold_kpa ??\n    body.thresholdKpa ??\n    body.threshold ??\n    body.kpa;\n\n  const duration_raw =\n    body.duration_minutes ??\n    body.durationMinutes ??\n    body.duration ??\n    body.minutes;\n\n  const enabledRaw =\n    body.enabled ??\n    body.is_enabled ??\n    body.isEnabled;\n\n  // 5) Validate trigger metric\n  const allowed = [\"SWT_WM1\", \"SWT_WM2\", \"SWT_AVG\"];\n  const trig = String(trigger_metric || \"\").toUpperCase();\n\n  if (!allowed.includes(trig)) {\n    msg.statusCode = 400;\n    msg.payload = { message: `Invalid trigger_metric. Allowed: ${allowed.join(\", \")}` };\n    return [null, msg];\n  }\n\n  // 6) Validate threshold\n  const th = Number(threshold_kpa);\n  if (!Number.isFinite(th) || th <= 0 || th > 300) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"Invalid threshold_kpa (0 < x ≤ 300)\" };\n    return [null, msg];\n  }\n\n  // 7) Validate duration_minutes\n  let durationMin =\n    duration_raw === undefined || duration_raw === null\n      ? 20\n      : Number(duration_raw);\n\n  if (!Number.isFinite(durationMin) || durationMin <= 0 || durationMin > 1440) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"Invalid duration_minutes (0 < x ≤ 1440)\" };\n    return [null, msg];\n  }\n\n  durationMin = Math.round(durationMin);\n\n  // 8) Normalize enabled\n  const enabledInt =\n    enabledRaw === undefined || enabledRaw === null\n      ? 1\n      : (enabledRaw ? 1 : 0);\n\n  // 9) Store in flow context\n  flow.set(\"sched_user_id\", userId);\n  flow.set(\"sched_zone_id\", zoneId);\n  flow.set(\"sched_trigger_metric\", trig);\n  flow.set(\"sched_threshold_kpa\", th);\n  flow.set(\"sched_duration_minutes\", durationMin);\n  flow.set(\"sched_enabled\", enabledInt);\n\n  // 10) Verify zone belongs to user\n  msg.topic = `\n    SELECT id\n    FROM irrigation_zones\n    WHERE id = ${zoneId}\n      AND user_id = ${userId}\n      AND deleted_at IS NULL\n    LIMIT 1;\n  `.trim();\n\n  return [msg, null];\n\n} catch (err) {\n  msg.statusCode = 500;\n  msg.payload = { message: \"Schedule validation failed\", error: String(err?.message || err) };\n  return [null, msg];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1440,
        "wires": [
            [
                "bda5f35469bb5fc6"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "bda5f35469bb5fc6",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Verify Zone",
        "x": 1170,
        "y": 1440,
        "wires": [
            [
                "d7e5c762c820aa16"
            ]
        ]
    },
    {
        "id": "d7e5c762c820aa16",
        "type": "function",
        "z": "device-api-tab",
        "name": "Build UPSERT",
        "func": "if (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: \"Zone not found or access denied\" };\n  return [null, msg];\n}\n\nconst zoneId = Number(flow.get(\"sched_zone_id\"));\nconst trigger_metric = String(flow.get(\"sched_trigger_metric\") || \"\");\nconst threshold_kpa = Number(flow.get(\"sched_threshold_kpa\"));\nconst duration_minutes = Number(flow.get(\"sched_duration_minutes\"));\nconst enabledInt = Number(flow.get(\"sched_enabled\"));\nconst now = new Date().toISOString();\n\nmsg.topic = `\nINSERT INTO irrigation_schedules\n  (irrigation_zone_id, trigger_metric, threshold_kpa, duration_minutes, enabled, created_at, updated_at)\nVALUES\n  (${zoneId}, '${trigger_metric}', ${threshold_kpa}, ${duration_minutes}, ${enabledInt}, '${now}', '${now}')\nON CONFLICT(irrigation_zone_id) DO UPDATE SET\n  trigger_metric = excluded.trigger_metric,\n  threshold_kpa = excluded.threshold_kpa,\n  duration_minutes = excluded.duration_minutes,\n  enabled = excluded.enabled,\n  updated_at = excluded.updated_at;\n`.trim();\n\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1440,
        "wires": [
            [
                "899ec5378779ad86"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "899ec5378779ad86",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Save to DB",
        "x": 1610,
        "y": 1440,
        "wires": [
            [
                "636ed15f34fa99c4"
            ]
        ]
    },
    {
        "id": "636ed15f34fa99c4",
        "type": "function",
        "z": "device-api-tab",
        "name": "Format Response",
        "func": "const zoneId = flow.get(\"sched_zone_id\");\nconst trigger_metric = flow.get(\"sched_trigger_metric\");\nconst threshold_kpa = flow.get(\"sched_threshold_kpa\");\nconst duration_minutes = flow.get(\"sched_duration_minutes\");\nconst enabledInt = flow.get(\"sched_enabled\");\n\nmsg.statusCode = 200;\nmsg.payload = {\n  irrigation_zone_id: zoneId,\n  trigger_metric,\n  threshold_kpa,\n  duration_minutes: Number(duration_minutes),\n  enabled: Boolean(enabledInt)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 1440,
        "wires": [
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "8180476b6ab55d6e",
        "type": "function",
        "z": "device-api-tab",
        "name": "Disable Schedule",
        "func": "const zoneId = Number(flow.get('delete_zone_id'));\nconst userId = Number(flow.get('delete_zone_user_id'));\nconst now = new Date().toISOString();\n\nif (!Number.isFinite(zoneId) || !Number.isFinite(userId)) {\n  msg.statusCode = 500;\n  msg.payload = { message: 'Internal error: missing zoneId/userId for schedule disable' };\n  return msg;\n}\n\n/**\n * Disable schedule ONLY if the zone belongs to the user.\n * Also safe if schedule row does not exist (UPDATE affects 0 rows).\n */\nmsg.topic = `\n  UPDATE irrigation_schedules\n  SET enabled = 0, updated_at = '${now}'\n  WHERE irrigation_zone_id = ${zoneId}\n    AND irrigation_zone_id IN (\n      SELECT id FROM irrigation_zones\n      WHERE id = ${zoneId}\n        AND user_id = ${userId}\n    );\n`.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1020,
        "wires": [
            [
                "d6136c769242ca50"
            ]
        ]
    },
    {
        "id": "d6136c769242ca50",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Disable scheduling",
        "x": 2310,
        "y": 1020,
        "wires": [
            [
                "delete-zone-response"
            ]
        ]
    },
    {
        "id": "c447480b11bd0695",
        "type": "debug",
        "z": "device-api-tab",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1560,
        "wires": []
    },
    {
        "id": "6ba1d1d0ac7fd7db",
        "type": "http in",
        "z": "device-api-tab",
        "name": "POST /api/valve/:deveui",
        "url": "/api/valve/:deveui",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "83bb4a452dd9ae37"
            ]
        ]
    },
    {
        "id": "83bb4a452dd9ae37",
        "type": "function",
        "z": "device-api-tab",
        "name": "Auth + Validate + Normalize",
        "func": "const authHeader = msg.req.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Unauthorized' };\n  return [null, msg];\n}\n\nlet username;\ntry {\n  const token = authHeader.substring(7);\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  username = decoded.split(':')[0];\n  if (!username) throw new Error('bad token');\n} catch (e) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'Invalid token' };\n  return [null, msg];\n}\n\nconst deveui = String(msg.req.params.deveui || '').trim().toUpperCase();\nif (!deveui) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Missing valve deveui' };\n  return [null, msg];\n}\n\n// action can come from body or query string\nconst body = (msg.payload && typeof msg.payload === 'object') ? msg.payload : {};\nconst qs = msg.req.query || {};\nlet action = body.action ?? qs.action;\nlet duration = body.duration_minutes ?? body.duration ?? qs.duration_minutes ?? qs.duration;\n\naction = (action === undefined || action === null) ? '' : String(action).trim();\nconst actionNorm = action.toUpperCase();\n\n// Normalize common variants\nlet finalAction = actionNorm;\nif (finalAction === 'OPENVALVE' || finalAction === 'OPEN_VALVE') finalAction = 'OPEN';\nif (finalAction === 'CLOSEVALVE' || finalAction === 'CLOSE_VALVE') finalAction = 'CLOSE';\nif (finalAction === 'OPEN_FOR_DURATION' || finalAction === 'OPENFOR' || finalAction === 'OPEN_FOR') finalAction = 'OPEN_FOR_DURATION';\nif (finalAction === 'CLOSE_FOR_DURATION' || finalAction === 'CLOSEFOR' || finalAction === 'CLOSE_FOR') finalAction = 'CLOSE_FOR_DURATION';\n\n// Default if nothing provided (optional). Safer to require explicit action.\nif (!finalAction) {\n  msg.statusCode = 400;\n  msg.payload = { message: 'Missing action (OPEN, CLOSE, OPEN_FOR_DURATION, CLOSE_FOR_DURATION)' };\n  return [null, msg];\n}\n\nif (!['OPEN','CLOSE','OPEN_FOR_DURATION','CLOSE_FOR_DURATION'].includes(finalAction)) {\n  msg.statusCode = 400;\n  msg.payload = { message: `Invalid action: ${finalAction}` };\n  return [null, msg];\n}\n\nlet durationMinutes = null;\nif (finalAction.includes('DURATION')) {\n  durationMinutes = Number(duration);\n  if (!Number.isFinite(durationMinutes) || durationMinutes <= 0) {\n    msg.statusCode = 400;\n    msg.payload = { message: 'duration_minutes must be a positive number' };\n    return [null, msg];\n  }\n  // clamp to byte range used by STREGA downlink\n  if (durationMinutes > 255) durationMinutes = 255;\n}\n\nflow.set('valve_cmd_username', username);\nflow.set('valve_cmd_deveui', deveui);\nflow.set('valve_cmd_action', finalAction);\nflow.set('valve_cmd_duration', durationMinutes);\n\n// Lookup user id\nmsg.topic = `SELECT id FROM users WHERE username = '${String(username).replace(/'/g, \"''\")}'`;\nreturn [msg, null];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "57c88461ef4a9dcf"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "57c88461ef4a9dcf",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: lookup user",
        "x": 600,
        "y": 1660,
        "wires": [
            [
                "9ad895844533fb35"
            ]
        ]
    },
    {
        "id": "9ad895844533fb35",
        "type": "function",
        "z": "device-api-tab",
        "name": "Check device ownership + type",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n  msg.statusCode = 401;\n  msg.payload = { message: 'User not found' };\n  return [null, msg];\n}\n\nconst userId = Number(msg.payload[0].id);\nconst deveui = String(flow.get('valve_cmd_deveui') || '').trim().toUpperCase();\nflow.set('valve_cmd_user_id', userId);\n\nmsg.topic = `\n  SELECT deveui, type_id, user_id\n  FROM devices\n  WHERE deveui = '${deveui.replace(/'/g, \"''\")}';\n`.trim();\n\nreturn [msg, null];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1660,
        "wires": [
            [
                "1271278de1cdb09b"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "1271278de1cdb09b",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: check device",
        "x": 1090,
        "y": 1660,
        "wires": [
            [
                "dde8e1ef265e96d7"
            ]
        ]
    },
    {
        "id": "dde8e1ef265e96d7",
        "type": "function",
        "z": "device-api-tab",
        "name": "Build actuator_command + DB writes",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nif (rows.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { message: 'Valve not found in devices table' };\n  return [null, null, msg];\n}\n\nconst device = rows[0];\nconst deveui = String(device.deveui).toUpperCase();\nconst typeId = String(device.type_id || '');\nconst deviceUserId = device.user_id;\n\nconst userId = Number(flow.get('valve_cmd_user_id'));\nconst action = String(flow.get('valve_cmd_action'));\nconst durationMinutes = flow.get('valve_cmd_duration');\n\nif (typeId !== 'STREGA_VALVE') {\n  msg.statusCode = 409;\n  msg.payload = { message: `Device ${deveui} is not a STREGA_VALVE` };\n  return [null, null, msg];\n}\n\n// Enforce ownership (adjust if you want shared access)\nif (deviceUserId !== null && deviceUserId !== undefined && Number(deviceUserId) !== userId) {\n  msg.statusCode = 403;\n  msg.payload = { message: 'Valve is claimed by another user' };\n  return [null, null, msg];\n}\n\nconst nowIso = new Date().toISOString();\n\n// actuator_command that your Actuator_STREGA flow already understands\nconst cmd = {\n  type: 'actuator_command',\n  device: { devEui: deveui },\n  data: {\n    action,\n    duration_minutes: durationMinutes ?? undefined,\n    reason: 'manual_gui',\n    timestamp: nowIso\n  }\n};\n\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\n\n// Determine target_state for DB\nlet targetState = null;\nif (action.startsWith('OPEN')) targetState = 'OPEN';\nif (action.startsWith('CLOSE')) targetState = 'CLOSED';\n\nconst insertLogSql = `\n  INSERT INTO actuator_log\n    (deveui, action, duration_open, created_at)\n  VALUES\n    ('${esc(deveui)}', '${esc(action)}', ${durationMinutes ?? 'NULL'}, '${esc(nowIso)}');\n`.trim();\n\nconst updateDeviceSql = `\n  UPDATE devices\n  SET target_state = ${targetState ? `'${targetState}'` : 'target_state'},\n      updated_at = '${esc(nowIso)}'\n  WHERE deveui = '${esc(deveui)}';\n`.trim();\n\n// Output 1: command to actuator\n// Output 2: DB writes (log + device update)\n// Output 3: http response\nconst httpOk = {\n  status: 'queued',\n  deveui,\n  action,\n  duration_minutes: durationMinutes ?? null,\n  timestamp: nowIso\n};\n\nreturn [ { payload: cmd }, { topic: insertLogSql + \"\\n\" + updateDeviceSql }, { statusCode: 202, payload: httpOk } ];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1660,
        "wires": [
            [
                "1ef83e7d26a33d6c"
            ],
            [
                "01c763e52594b6ae"
            ],
            [
                "device-response"
            ]
        ]
    },
    {
        "id": "1ef83e7d26a33d6c",
        "type": "link out",
        "z": "device-api-tab",
        "name": "To Actuator (same as scheduler)",
        "mode": "link",
        "links": [
            "5974306566e99a92"
        ],
        "x": 1625,
        "y": 1620,
        "wires": []
    },
    {
        "id": "01c763e52594b6ae",
        "type": "sqlite",
        "z": "device-api-tab",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: actuator_log + devices update",
        "x": 1740,
        "y": 1660,
        "wires": [
            [
                "423ade6bb75a39f2"
            ]
        ]
    },
    {
        "id": "423ade6bb75a39f2",
        "type": "debug",
        "z": "device-api-tab",
        "name": "debug: valve db write",
        "active": false,
        "tosidebar": true,
        "complete": "true",
        "targetType": "full",
        "x": 2060,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4b7b6d3b8d1f0d31",
        "type": "inject",
        "z": "c2b43a6c6e7d2c11",
        "name": "Schedule time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "a0a61f4b7dca1c2e"
            ]
        ]
    },
    {
        "id": "a0a61f4b7dca1c2e",
        "type": "function",
        "z": "c2b43a6c6e7d2c11",
        "name": "Build zones query (enabled schedules)",
        "func": "\n\nmsg.topic = `\n  SELECT\n    iz.id AS zone_id,\n    iz.name AS zone_name,\n    iz.user_id,\n\n    s.trigger_metric,\n    s.threshold_kpa,\n    s.duration_minutes,\n    s.enabled,\n    s.last_triggered_at,\n\n    (\n      SELECT d.deveui\n      FROM devices d\n      WHERE d.irrigation_zone_id = iz.id\n        AND d.type_id = 'STREGA_VALVE'\n        AND d.user_id = iz.user_id\n      ORDER BY d.created_at ASC\n      LIMIT 1\n    ) AS valve_deveui\n\n  FROM irrigation_zones iz\n  INNER JOIN irrigation_schedules s\n    ON s.irrigation_zone_id = iz.id\n\n  WHERE s.enabled = 1\n    AND iz.deleted_at IS NULL\n\n  ORDER BY iz.id ASC;\n`.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "d7ad7b3d0c9e0b8a"
            ]
        ]
    },
    {
        "id": "d7ad7b3d0c9e0b8a",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: schedules/zones",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "7ef0e7d1a5a3d9f6"
            ]
        ]
    },
    {
        "id": "7ef0e7d1a5a3d9f6",
        "type": "split",
        "z": "c2b43a6c6e7d2c11",
        "name": "Split zones",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "d0b2b1c1a937e16d"
            ]
        ]
    },
    {
        "id": "d0b2b1c1a937e16d",
        "type": "function",
        "z": "c2b43a6c6e7d2c11",
        "name": "Build mean query (last hour, all datapoints)",
        "func": "// For one zone row, compute mean SWT over last hour across ALL datapoints.\n// IMPORTANT: recorded_at is stored as ISO-8601 with Z, so we also build ISO-8601 cutoff.\n\nconst z = msg.payload || {};\nconst zoneId = Number(z.zone_id);\nconst metric = String(z.trigger_metric || \"\").toUpperCase();\n\nif (!Number.isFinite(zoneId)) return null;\n\nlet expr = \"dd.swt_wm1\";\nif (metric === \"SWT_WM2\") expr = \"dd.swt_wm2\";\nif (metric === \"SWT_AVG\") expr = \"((dd.swt_wm1 + dd.swt_wm2) / 2.0)\";\n\n// Keep zone context for downstream nodes\nmsg.zone = z;\n\n// Build ISO cutoff in JS to match recorded_at format exactly\nconst cutoffIso = new Date(Date.now() - 60 * 60 * 1000).toISOString();\n\nmsg.topic = `\n  SELECT\n    AVG(${expr}) AS mean_kpa,\n    COUNT(${expr}) AS n_points,\n    MIN(dd.recorded_at) AS min_recorded_at,\n    MAX(dd.recorded_at) AS max_recorded_at\n\n  FROM devices ds\n  INNER JOIN device_data dd\n    ON dd.deveui = ds.deveui\n\n  WHERE ds.irrigation_zone_id = ${zoneId}\n    AND ds.type_id = 'KIWI_SENSOR'\n    AND ${expr} IS NOT NULL\n    AND dd.recorded_at >= '${cutoffIso}';\n`.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "f4f8af0d3a4f3e5c"
            ]
        ]
    },
    {
        "id": "f4f8af0d3a4f3e5c",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: mean last hour",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "5f0d2b7e9b9b1b3a"
            ]
        ]
    },
    {
        "id": "5f0d2b7e9b9b1b3a",
        "type": "function",
        "z": "c2b43a6c6e7d2c11",
        "name": "Decide + build actuator cmd + build DB logs",
        "func": "// Use first valve deveui from zone query.\n// Log every decision into irrigation_events.\n// Update irrigation_schedules.last_triggered_at only when irrigating.\n\nconst zone = msg.zone || {};\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst r = rows[0] || {};\n\nconst meanKpa = Number(r.mean_kpa);\nconst nPoints = Number(r.n_points);\n\nconst userId = Number(zone.user_id);\nconst zoneId = Number(zone.zone_id);\nconst threshold = Number(zone.threshold_kpa);\nconst valveDevEui = zone.valve_deveui;\n\nconst nowIso = new Date().toISOString();\n// Duration (minutes) comes from schedule; fallback to DB default (20)\nlet durationMinutesRaw =\n  (zone && zone.duration_minutes != null) ? zone.duration_minutes :\n    (zone && zone.schedule && zone.schedule.duration_minutes != null) ? zone.schedule.duration_minutes :\n      20;\n\nlet durationMinutes = Number(durationMinutesRaw);\n\n// Basic validation/clamp\nif (!Number.isFinite(durationMinutes) || durationMinutes <= 0) {\n  durationMinutes = 10;\n}\n\n// Optional upper bound (prevents accidental multi-hour watering)\n// Adjust if you want a different max.\nif (durationMinutes > 240) {\n  durationMinutes = 240;\n}\n\n\nfunction escapeSqlString(s) {\n  return String(s).replace(/'/g, \"''\");\n}\n\n// Basic config validation\nif (!Number.isFinite(userId) || !Number.isFinite(zoneId)) {\n  return null;\n}\n\n// If no valve, we still log SKIP (because it is actionable debugging)\nconst valveOk = (typeof valveDevEui === 'string' && valveDevEui.length > 0);\n\n// If no datapoints, log SKIP\nif (!Number.isFinite(meanKpa) || !Number.isFinite(nPoints) || nPoints <= 0) {\n  const payloadJson = {\n    zone_id: zoneId,\n    action: \"SKIP\",\n    reason: \"no_data_last_hour\",\n    mean_kpa: null,\n    threshold_kpa: threshold,\n    n_points: nPoints || 0,\n    valve_deveui: valveOk ? valveDevEui : null,\n    window: { min_recorded_at: r.min_recorded_at || null, max_recorded_at: r.max_recorded_at || null },\n    timestamp: nowIso\n  };\n\n  const insertSql = `\n    INSERT INTO irrigation_events\n      (user_id, irrigation_zone_id, action, reason, aggregate_kpa, threshold_kpa, duration_minutes, valve_deveui, payload_json)\n    VALUES\n      (${userId}, ${zoneId}, 'SKIP', 'no_data_last_hour', NULL, ${threshold}, ${durationMinutes}, ${valveOk ? `'${escapeSqlString(valveDevEui)}'` : 'NULL'}, '${escapeSqlString(JSON.stringify(payloadJson))}');\n  `.trim();\n\n  return [null, { topic: insertSql }, null];\n}\n\n// If valve missing, log SKIP\nif (!valveOk) {\n  const payloadJson = {\n    zone_id: zoneId,\n    action: \"SKIP\",\n    reason: \"missing_valve\",\n    mean_kpa: meanKpa,\n    threshold_kpa: threshold,\n    n_points: nPoints,\n    valve_deveui: null,\n    window: { min_recorded_at: r.min_recorded_at || null, max_recorded_at: r.max_recorded_at || null },\n    timestamp: nowIso\n  };\n\n  const insertSql = `\n    INSERT INTO irrigation_events\n      (user_id, irrigation_zone_id, action, reason, aggregate_kpa, threshold_kpa, duration_minutes, valve_deveui, payload_json)\n    VALUES\n      (${userId}, ${zoneId}, 'SKIP', 'missing_valve', ${meanKpa}, ${threshold}, ${durationMinutes}, NULL, '${escapeSqlString(JSON.stringify(payloadJson))}');\n  `.trim();\n\n  return [null, { topic: insertSql }, null];\n}\n\n// Decision rule: irrigate when mean_kpa >= threshold\nconst irrigate = (meanKpa >= threshold);\n\nif (!irrigate) {\n  const payloadJson = {\n    zone_id: zoneId,\n    action: \"SKIP\",\n    reason: \"below_threshold\",\n    mean_kpa: meanKpa,\n    threshold_kpa: threshold,\n    n_points: nPoints,\n    valve_deveui: valveDevEui,\n    window: { min_recorded_at: r.min_recorded_at || null, max_recorded_at: r.max_recorded_at || null },\n    timestamp: nowIso\n  };\n\n  const insertSql = `\n    INSERT INTO irrigation_events\n      (user_id, irrigation_zone_id, action, reason, aggregate_kpa, threshold_kpa, duration_minutes, valve_deveui, payload_json)\n    VALUES\n      (${userId}, ${zoneId}, 'SKIP', 'below_threshold', ${meanKpa}, ${threshold}, ${durationMinutes}, '${escapeSqlString(valveDevEui)}', '${escapeSqlString(JSON.stringify(payloadJson))}');\n  `.trim();\n\n  return [null, { topic: insertSql }, null];\n}\n\n// Build actuator command\nconst cmd = {\n  type: \"actuator_command\",\n  device: { devEui: valveDevEui, zone_id: zoneId },\n  data: {\n    action: \"OPEN_FOR_DURATION\",\n    duration_minutes: durationMinutes,\n    reason: \"scheduler_threshold\",\n    mean_kpa_last_hour: meanKpa,\n    threshold_kpa: threshold,\n    trigger_metric: zone.trigger_metric,\n    n_points_last_hour: nPoints,\n    window: { min_recorded_at: r.min_recorded_at || null, max_recorded_at: r.max_recorded_at || null },\n    timestamp: nowIso\n  }\n};\n\n// Log IRRIGATE\nconst payloadJson = {\n  zone_id: zoneId,\n  action: \"IRRIGATE\",\n  reason: \"scheduler_threshold\",\n  mean_kpa_last_hour: meanKpa,\n  threshold_kpa: threshold,\n  trigger_metric: zone.trigger_metric,\n  n_points_last_hour: nPoints,\n  valve_deveui: valveDevEui,\n  duration_minutes: durationMinutes,\n  window: { min_recorded_at: r.min_recorded_at || null, max_recorded_at: r.max_recorded_at || null },\n  timestamp: nowIso\n};\n\nconst insertSql = `\n  INSERT INTO irrigation_events\n    (user_id, irrigation_zone_id, action, reason, aggregate_kpa, threshold_kpa, duration_minutes, valve_deveui, payload_json)\n  VALUES\n    (${userId}, ${zoneId}, 'IRRIGATE', 'scheduler_threshold', ${meanKpa}, ${threshold}, ${durationMinutes}, '${escapeSqlString(valveDevEui)}', '${escapeSqlString(JSON.stringify(payloadJson))}');\n`.trim();\n\nconst updateSql = `\n  UPDATE irrigation_schedules\n  SET last_triggered_at = '${nowIso}',\n      updated_at = '${nowIso}'\n  WHERE irrigation_zone_id = ${zoneId};\n`.trim();\n\nreturn [ { payload: cmd }, { topic: insertSql }, { topic: updateSql } ];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "b64b9e8c1a0e2c77"
            ],
            [
                "2cb3b5c1a3d0e5f7"
            ],
            [
                "3a0d9d0f1a1b2c3d"
            ]
        ]
    },
    {
        "id": "b64b9e8c1a0e2c77",
        "type": "link out",
        "z": "c2b43a6c6e7d2c11",
        "name": "To Actuator",
        "mode": "link",
        "links": [
            "5974306566e99a92"
        ],
        "x": 815,
        "y": 260,
        "wires": []
    },
    {
        "id": "2cb3b5c1a3d0e5f7",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: insert irrigation_events",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "6c0c0e8f9a1b2c3d"
            ]
        ]
    },
    {
        "id": "3a0d9d0f1a1b2c3d",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: update last_triggered_at",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "9c8b7a6d5e4f3a21"
            ]
        ]
    },
    {
        "id": "6c0c0e8f9a1b2c3d",
        "type": "debug",
        "z": "c2b43a6c6e7d2c11",
        "name": "debug: event insert result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c8b7a6d5e4f3a21",
        "type": "debug",
        "z": "c2b43a6c6e7d2c11",
        "name": "debug: schedule update result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "5418993be3e20771",
        "type": "inject",
        "z": "c2b43a6c6e7d2c11",
        "name": "Init DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "49d2332890472f7f"
            ]
        ]
    },
    {
        "id": "49d2332890472f7f",
        "type": "function",
        "z": "c2b43a6c6e7d2c11",
        "name": "Enable foreign keys",
        "func": "msg.topic = \"PRAGMA foreign_keys = ON; PRAGMA busy_timeout = 5000;\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "de3b5b3cdf7032f5"
            ]
        ]
    },
    {
        "id": "de3b5b3cdf7032f5",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "1cd3552bbb7e9ef7"
            ]
        ]
    },
    {
        "id": "1cd3552bbb7e9ef7",
        "type": "debug",
        "z": "c2b43a6c6e7d2c11",
        "name": "debug set fk",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "b8b8a676fdeea7cb",
        "type": "function",
        "z": "c2b43a6c6e7d2c11",
        "name": "Check foreign keys",
        "func": "msg.topic = \"PRAGMA foreign_keys;\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 640,
        "wires": [
            [
                "c0831015ad099057"
            ]
        ]
    },
    {
        "id": "c0831015ad099057",
        "type": "sqlite",
        "z": "c2b43a6c6e7d2c11",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "9d301fa28121623e"
            ]
        ]
    },
    {
        "id": "9d301fa28121623e",
        "type": "debug",
        "z": "c2b43a6c6e7d2c11",
        "name": "debug check fk",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "28b7e747d740b31d",
        "type": "inject",
        "z": "c2b43a6c6e7d2c11",
        "name": "Init DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "b8b8a676fdeea7cb"
            ]
        ]
    },
    {
        "id": "0bf07186b7b68dad",
        "type": "inject",
        "z": "c2b43a6c6e7d2c11",
        "name": "Manual test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "a0a61f4b7dca1c2e"
            ]
        ]
    },
    {
        "id": "81c98fb07344a787",
        "type": "function",
        "z": "49e87447205bb849",
        "g": "2d7171577c7b3f8b",
        "name": "Process Data",
        "func": "function convertHzToKPa(input_frequency) {\n    if (typeof input_frequency !== \"number\" || isNaN(input_frequency)) {\n        return null;\n    }\n\n    if (input_frequency > 6430) return 0;\n    if (input_frequency >= 4330 && input_frequency <= 6430) return 9 - (input_frequency - 4330) * 0.004286;\n    if (input_frequency >= 2820 && input_frequency <= 4330) return 15 - (input_frequency - 2820) * 0.003974;\n    if (input_frequency >= 1110 && input_frequency <= 2820) return 35 - (input_frequency - 1110) * 0.01170;\n    if (input_frequency >= 770 && input_frequency <= 1110) return 55 - (input_frequency - 770) * 0.05884;\n    if (input_frequency >= 600 && input_frequency <= 770) return 75 - (input_frequency - 600) * 0.1176;\n    if (input_frequency >= 485 && input_frequency <= 600) return 100 - (input_frequency - 485) * 0.2174;\n    if (input_frequency >= 293 && input_frequency <= 485) return 200 - (input_frequency - 293) * 0.5208;\n    if (input_frequency < 293) return 200;\n\n    return null;\n}\n\nfunction processAndStore(msg) {\n    try {\n        const data = msg.payload;\n\n        if (!data || !data.deviceInfo || !data.object) {\n            node.error(\"Unexpected payload structure\");\n            return null;\n        }\n\n        // --- NORMALIZE DevEUI\n        const rawDevEui = data.deviceInfo.devEui;\n        if (!rawDevEui) {\n            node.error(\"Missing devEui in payload\");\n            return null;\n        }\n        const devEui = String(rawDevEui).toUpperCase();\n\n        const deviceName = data.deviceInfo.deviceName || \"\";\n\n        // Prefer ChirpStack timestamp if present\n        const timestamp = data.time\n            ? new Date(data.time).toISOString()\n            : new Date().toISOString();\n\n        // Raw frequencies from KIWI\n        const f_wm1 = data.object.input5_frequency;\n        const f_wm2 = data.object.input6_frequency;\n\n        // Convert to kPa\n        const wm1_kpa = convertHzToKPa(f_wm1);\n        const wm2_kpa = convertHzToKPa(f_wm2);\n\n        // Additional measurements\n        const light_lux =\n            data.object.light_intensity !== undefined\n                ? Number(data.object.light_intensity)\n                : null;\n\n        const ambient_temperature =\n            data.object.ambient_temperature !== undefined\n                ? Number(data.object.ambient_temperature)\n                : null;\n\n        const relative_humidity =\n            data.object.relative_humidity !== undefined\n                ? Number(data.object.relative_humidity)\n                : null;\n\n        const formattedData = {\n            timestamp,\n            devEui,        \n            deviceName,\n            readings: {\n                input5_frequency: f_wm1,\n                swt_wm1: wm1_kpa,\n                input6_frequency: f_wm2,\n                swt_wm2: wm2_kpa,\n                light_lux: Number.isFinite(light_lux) ? light_lux : null,\n                ambient_temperature: Number.isFinite(ambient_temperature) ? ambient_temperature : null,\n                relative_humidity: Number.isFinite(relative_humidity) ? relative_humidity : null\n            }\n        };\n\n        // Node status (compact, readable)\n        const statusParts = [];\n        if (Number.isFinite(wm1_kpa)) statusParts.push(`WM1 ${wm1_kpa.toFixed(1)} kPa`);\n        if (Number.isFinite(wm2_kpa)) statusParts.push(`WM2 ${wm2_kpa.toFixed(1)} kPa`);\n        if (Number.isFinite(ambient_temperature)) statusParts.push(`T ${ambient_temperature.toFixed(1)} C`);\n        if (Number.isFinite(relative_humidity)) statusParts.push(`RH ${relative_humidity.toFixed(0)} %`);\n        if (Number.isFinite(light_lux)) statusParts.push(`Lux ${light_lux.toFixed(0)}`);\n\n        node.status({\n            fill: \"blue\",\n            shape: \"dot\",\n            text: statusParts.length ? statusParts.join(\" | \") : \"no data\"\n        });\n\n        msg.formattedData = formattedData;\n        return msg;\n\n    } catch (err) {\n        node.error(\"Process Data error: \" + err.message, msg);\n        return null;\n    }\n}\n\nreturn processAndStore(msg);",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "3bf123ebe2143650",
                "9b3afb405207302e"
            ]
        ]
    },
    {
        "id": "9b3afb405207302e",
        "type": "function",
        "z": "49e87447205bb849",
        "name": "Build SQL INSERT",
        "func": "// Build SQL INSERT for device_data WITHOUT placeholders\n// (workaround for setups where node-red-node-sqlite does not bind ? params)\n//\n// Expects msg.formattedData from \"Process Data\".\n\nconst data = msg.formattedData;\n\nif (!data || !data.readings) {\n  node.error(\"formattedData missing on msg\", msg);\n  return null;\n}\n\n// --- helpers\nfunction sqlEscapeString(s) {\n  // SQLite string literal escaping: ' -> ''\n  return String(s).replace(/'/g, \"''\");\n}\n\nfunction sqlStringOrNull(v) {\n  if (v === undefined || v === null || v === \"\") return \"NULL\";\n  return `'${sqlEscapeString(v)}'`;\n}\n\nfunction numOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction sqlNumOrNull(v) {\n  const n = numOrNull(v);\n  return n === null ? \"NULL\" : String(n);\n}\n\n// --- normalize values\nconst devEuiRaw = data.devEui || \"\";\nconst devEui = String(devEuiRaw).toUpperCase().trim();\nif (!devEui) {\n  node.error(\"devEui is empty after normalization\", msg);\n  return null;\n}\n\n// recorded_at: keep your ISO timestamp (schema allows any TEXT; NOT NULL)\nconst recordedAt = data.timestamp ? String(data.timestamp) : new Date().toISOString();\n\nconst r = data.readings || {};\n\n// Map light field\nconst light_lux =\n  (r.light_lux !== undefined && r.light_lux !== null) ? r.light_lux :\n  (r.light_intensity !== undefined && r.light_intensity !== null) ? r.light_intensity :\n  null;\n\n// numeric fields\nconst swt_wm1 = numOrNull(r.swt_wm1);\nconst swt_wm2 = numOrNull(r.swt_wm2);\nconst ambient_temperature = numOrNull(r.ambient_temperature);\nconst relative_humidity = numOrNull(r.relative_humidity);\nconst lightLux = numOrNull(light_lux);\n\n// --- build SQL (no placeholders)\nmsg.topic = `\nINSERT INTO device_data\n(deveui, swt_wm1, swt_wm2, light_lux, ambient_temperature, relative_humidity, recorded_at)\nVALUES (\n  ${sqlStringOrNull(devEui)},\n  ${sqlNumOrNull(swt_wm1)},\n  ${sqlNumOrNull(swt_wm2)},\n  ${sqlNumOrNull(lightLux)},\n  ${sqlNumOrNull(ambient_temperature)},\n  ${sqlNumOrNull(relative_humidity)},\n  ${sqlStringOrNull(recordedAt)}\n);\n`.trim();\n\n// IMPORTANT: do not send an array payload here (we are not using params)\nmsg.payload = msg.topic;\n\n// Debug info\nmsg.insert_debug = {\n  source: \"kiwi_insert_literal_device_data\",\n  deveui: devEui,\n  recorded_at: recordedAt,\n  swt_wm1,\n  swt_wm2,\n  light_lux: lightLux,\n  ambient_temperature,\n  relative_humidity\n};\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `SQL insert literal deveui=${devEui}` });\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "d756d419c7b22ee0",
                "acecb8b0c92fb370"
            ]
        ]
    },
    {
        "id": "18559caeee39ebbd",
        "type": "debug",
        "z": "49e87447205bb849",
        "g": "2d7171577c7b3f8b",
        "name": "Storage Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 200,
        "wires": []
    },
    {
        "id": "3bf123ebe2143650",
        "type": "debug",
        "z": "49e87447205bb849",
        "g": "2d7171577c7b3f8b",
        "name": "Moisture Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "formattedData.readings",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "d756d419c7b22ee0",
        "type": "sqlite",
        "z": "49e87447205bb849",
        "g": "2d7171577c7b3f8b",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Sensor DB Insert",
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "18559caeee39ebbd"
            ]
        ]
    },
    {
        "id": "acecb8b0c92fb370",
        "type": "debug",
        "z": "49e87447205bb849",
        "name": "Debug SQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 300,
        "wires": []
    },
    {
        "id": "819a3c02bc019fa3",
        "type": "debug",
        "z": "49e87447205bb849",
        "name": "debug raw data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "813e31efaf815aaf",
        "type": "link in",
        "z": "49e87447205bb849",
        "name": "link in 2",
        "links": [
            "a3684dcbadf26bef"
        ],
        "x": 545,
        "y": 100,
        "wires": [
            [
                "81c98fb07344a787",
                "819a3c02bc019fa3"
            ]
        ]
    },
    {
        "id": "83b9d39aac66b765",
        "type": "device event",
        "z": "49e87447205bb849",
        "name": "UP",
        "eventType": "up",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "81c98fb07344a787",
                "819a3c02bc019fa3"
            ]
        ]
    },
    {
        "id": "e73a11a2a36aab22",
        "type": "mqtt in",
        "z": "49e87447205bb849",
        "name": "KIWI IN",
        "topic": "application/3f268526-2f47-48c7-8b8c-0cae26fc3a7e/device/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0b19352dac3fb34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "83b9d39aac66b765"
            ]
        ]
    },
    {
        "id": "5974306566e99a92",
        "type": "link in",
        "z": "8a18de184886c8a8",
        "name": "from scheduler/manual",
        "links": [
            "1ef83e7d26a33d6c",
            "b64b9e8c1a0e2c77"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "072f29aa8760340a",
                "cdbaa3891d40d7a1"
            ]
        ]
    },
    {
        "id": "072f29aa8760340a",
        "type": "debug",
        "z": "8a18de184886c8a8",
        "name": "debug: incoming actuator_command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdbaa3891d40d7a1",
        "type": "function",
        "z": "8a18de184886c8a8",
        "name": "Build STREGA downlink + emit log ctx",
        "func": "// Build STREGA Smart Valve downlink for ChirpStack from an actuator_command.\n// Emits TWO outputs:\n//  1) MQTT downlink message (topic + payload)\n//  2) Logging context message (for DB insert into actuator_log)\n\nconst FIXED_APP_ID = \"af28ecae-1af8-4ffe-8576-76384b6805ca\"; // replace on your RPi\n\nfunction clampByte(x) {\n  let v = Number(x ?? 0);\n  if (!Number.isFinite(v) || v <= 0) v = 1;\n  if (v > 255) v = 255;\n  return v;\n}\n\nif (!msg.payload || msg.payload.type !== \"actuator_command\") {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: \"Not an actuator_command\" });\n  return null;\n}\n\nconst devEui = msg.payload.device?.devEui\n  ? String(msg.payload.device.devEui).trim().toUpperCase()\n  : null;\n\nconst zoneId = (msg.payload.device?.zone_id !== undefined && msg.payload.device?.zone_id !== null)\n  ? Number(msg.payload.device.zone_id)\n  : null;\n\nconst data = msg.payload.data || {};\nconst action = data.action ? String(data.action).trim().toUpperCase() : null;\nconst reason = (data.reason !== undefined && data.reason !== null) ? String(data.reason) : null;\nconst durationMinutes = (data.duration_minutes !== undefined && data.duration_minutes !== null)\n  ? Number(data.duration_minutes)\n  : null;\n\nif (!devEui) {\n  node.status({ fill: \"red\", shape: \"ring\", text: \"Missing valve devEui\" });\n  node.warn({ where: \"strega_downlink\", error: \"Missing devEui\", payload: msg.payload });\n  return null;\n}\n\nif (!action) {\n  node.status({ fill: \"red\", shape: \"ring\", text: \"Missing action\" });\n  node.warn({ where: \"strega_downlink\", error: \"Missing action\", payload: msg.payload });\n  return null;\n}\n\nlet fPort;\nlet rawBytes;\n\nswitch (action) {\n  case \"OPEN_FOR_DURATION\": {\n    const minutes = clampByte(durationMinutes);\n    rawBytes = [0x41, minutes];\n    fPort = 2;\n    break;\n  }\n  case \"CLOSE_FOR_DURATION\": {\n    const minutes = clampByte(durationMinutes);\n    rawBytes = [0x40, minutes];\n    fPort = 2;\n    break;\n  }\n  case \"OPEN\": {\n    rawBytes = [0x31];\n    fPort = 1;\n    break;\n  }\n  case \"CLOSE\": {\n    rawBytes = [0x30];\n    fPort = 1;\n    break;\n  }\n  default: {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: `Unsupported action: ${action}` });\n    node.warn({ where: \"strega_downlink\", error: \"Unsupported action\", action, devEui });\n    return null;\n  }\n}\n\nconst base64Data = Buffer.from(rawBytes).toString(\"base64\");\n\n// Output 1: MQTT downlink\nconst mqttMsg = {\n  topic: `application/${FIXED_APP_ID}/device/${devEui}/command/down`,\n  payload: {\n    devEui,\n    confirmed: false,\n    fPort,\n    data: base64Data\n  }\n};\n\n// Output 2: log context (zoneId may be null)\nconst logMsg = {\n  _log_ctx: {\n    devEui,\n    zone_id: Number.isFinite(zoneId) ? zoneId : null,\n    action,\n    duration_minutes: Number.isFinite(durationMinutes) ? durationMinutes : null,\n    reason,\n    created_at: new Date().toISOString()\n  }\n};\n\nconst label = (action === \"OPEN_FOR_DURATION\" || action === \"CLOSE_FOR_DURATION\")\n  ? `${action}(${Number.isFinite(durationMinutes) ? durationMinutes : \"?\"}m)`\n  : action;\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `${label} FPort=${fPort} ${devEui}` });\n\nreturn [mqttMsg, logMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "f7d5dab1890fee75",
                "244a39f37fe623c1"
            ],
            [
                "8b53b2fb049ef771"
            ]
        ]
    },
    {
        "id": "f7d5dab1890fee75",
        "type": "debug",
        "z": "8a18de184886c8a8",
        "name": "debug: downlink out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "244a39f37fe623c1",
        "type": "mqtt out",
        "z": "8a18de184886c8a8",
        "name": "MQTT to ChirpStack",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b0b19352dac3fb34",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b53b2fb049ef771",
        "type": "switch",
        "z": "8a18de184886c8a8",
        "name": "Zone id known?",
        "property": "_log_ctx.zone_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "5c45136f382d501c"
            ],
            [
                "f1f87b77d04f8fc5"
            ]
        ]
    },
    {
        "id": "f1f87b77d04f8fc5",
        "type": "function",
        "z": "8a18de184886c8a8",
        "name": "Build zone lookup SQL",
        "func": "function esc(s){ return String(s).replace(/'/g,\"''\"); }\n\nconst ctx = msg._log_ctx || {};\nif (!ctx.devEui) return null;\n\nmsg.topic = `SELECT irrigation_zone_id FROM devices WHERE deveui = '${esc(ctx.devEui)}' LIMIT 1;`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 280,
        "wires": [
            [
                "b49d2cccb0385e17"
            ]
        ]
    },
    {
        "id": "b49d2cccb0385e17",
        "type": "sqlite",
        "z": "8a18de184886c8a8",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: lookup device zone",
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "e01035a07bf9590a"
            ]
        ]
    },
    {
        "id": "e01035a07bf9590a",
        "type": "function",
        "z": "8a18de184886c8a8",
        "name": "Apply zone_id from lookup",
        "func": "const ctx = msg._log_ctx || {};\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nif (rows.length && rows[0].irrigation_zone_id !== undefined && rows[0].irrigation_zone_id !== null && rows[0].irrigation_zone_id !== '') {\n  const z = Number(rows[0].irrigation_zone_id);\n  ctx.zone_id = Number.isFinite(z) ? z : null;\n} else {\n  ctx.zone_id = null;\n}\n\nmsg._log_ctx = ctx;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 280,
        "wires": [
            [
                "5c45136f382d501c"
            ]
        ]
    },
    {
        "id": "5c45136f382d501c",
        "type": "function",
        "z": "8a18de184886c8a8",
        "name": "Build actuator_log INSERT",
        "func": "function esc(s) {\n  return String(s ?? '').replace(/'/g, \"''\");\n}\n\nconst ctx = msg._log_ctx || {};\nif (!ctx.devEui || !ctx.action) return null;\n\n/* ---------- irrigation_zone_id (STRICT) ---------- */\nlet z = 'NULL';\nif (Number.isFinite(Number(ctx.zone_id)) && Number(ctx.zone_id) > 0) {\n  z = Number(ctx.zone_id);\n}\n\n/* ---------- duration_minutes ---------- */\nlet dur = 'NULL';\nif (Number.isFinite(Number(ctx.duration_minutes)) && Number(ctx.duration_minutes) > 0) {\n  dur = Number(ctx.duration_minutes);\n}\n\n/* ---------- reason ---------- */\nconst rea =\n  ctx.reason && String(ctx.reason).length\n    ? `'${esc(ctx.reason)}'`\n    : 'NULL';\n\n/* ---------- created_at ---------- */\nconst createdAt =\n  ctx.created_at\n    ? `'${esc(ctx.created_at)}'`\n    : \"datetime('now')\";\n\n/* ---------- SQL ---------- */\nmsg.topic = `\n  INSERT INTO actuator_log\n    (deveui, irrigation_zone_id, action, duration_minutes, reason, created_at)\n  VALUES\n    ('${esc(ctx.devEui)}', ${z}, '${esc(ctx.action)}', ${dur}, ${rea}, ${createdAt});\n`.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 360,
        "wires": [
            [
                "e681a40093c3798d"
            ]
        ]
    },
    {
        "id": "e681a40093c3798d",
        "type": "sqlite",
        "z": "8a18de184886c8a8",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB: insert actuator_log",
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "d32f3a7a70821d54"
            ]
        ]
    },
    {
        "id": "d32f3a7a70821d54",
        "type": "debug",
        "z": "8a18de184886c8a8",
        "name": "debug: actuator_log insert result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "e64341bbdedbacf4",
        "type": "link in",
        "z": "8a18de184886c8a8",
        "name": "link in 1",
        "links": [
            "b29b885d1fcc858a"
        ],
        "x": 155,
        "y": 220,
        "wires": [
            [
                "cdbaa3891d40d7a1"
            ]
        ]
    },
    {
        "id": "6f1e29882f752d35",
        "type": "inject",
        "z": "a88bb648cac221ce",
        "name": "TEST: OPEN_FOR_DURATION 10m",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "3301d5ea9863f66b"
            ]
        ]
    },
    {
        "id": "3301d5ea9863f66b",
        "type": "function",
        "z": "a88bb648cac221ce",
        "name": "Build test actuator_command",
        "func": "msg.payload = {\n  type: \"actuator_command\",\n  device: { devEui: \"0004a30b00e95c44\" },\n  data: {\n    action: \"OPEN_FOR_DURATION\",\n    duration_minutes: 10,\n    reason: \"manual_gui\"\n  }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "b29b885d1fcc858a"
            ]
        ]
    },
    {
        "id": "b29b885d1fcc858a",
        "type": "link out",
        "z": "a88bb648cac221ce",
        "name": "link actuator_strega",
        "mode": "link",
        "links": [
            "e64341bbdedbacf4"
        ],
        "x": 775,
        "y": 180,
        "wires": []
    },
    {
        "id": "282a9147402fb0db",
        "type": "inject",
        "z": "a88bb648cac221ce",
        "name": "UP 15min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"deviceInfo\": {     \"deviceName\": \"kiwi\",     \"devEui\": \"647fda0000007f9b\"   },   \"object\": {} }",
        "payloadType": "json",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "67096d013eec5005"
            ]
        ]
    },
    {
        "id": "67096d013eec5005",
        "type": "function",
        "z": "a88bb648cac221ce",
        "name": "KIWI UPLINK SIM",
        "func": "/**\n * KIWI UPLINK SIM (15min) – MULTI-DEVICE (UPPERCASE DevEUI)\n *\n * Simulates 6 KIWI-like devices with realistic WM1/WM2 dynamics + lux + temp + RH.\n * Device naming convention:\n *   farm_<farmId>_sensor_<n>_type_KIWI\n *\n * Output payload fields (compatible with your Process Data):\n *   payload.deviceInfo.devEui        (NOW UPPERCASE)\n *   payload.deviceInfo.deviceName\n *   payload.time\n *   payload.object.input5_frequency\n *   payload.object.input6_frequency\n *   payload.object.light_intensity\n *   payload.object.ambient_temperature\n *   payload.object.relative_humidity\n */\n\nfunction clamp(x, a, b) { return Math.max(a, Math.min(b, x)); }\n\n// ---------- deterministic devEUI generation ----------\nfunction hash32(str) {\n    // FNV-1a 32-bit\n    let h = 0x811c9dc5;\n    for (let i = 0; i < str.length; i++) {\n        h ^= str.charCodeAt(i);\n        h = (h * 0x01000193) >>> 0;\n    }\n    return h >>> 0;\n}\n\nfunction hex8(n) {\n    return (n >>> 0).toString(16).padStart(8, \"0\");\n}\n\nfunction makeDevEuiFromName(name) {\n    // Create 16-hex char EUI from two 32-bit hashes + some structure\n    const h1 = hash32(\"A|\" + name);\n    const h2 = hash32(\"B|\" + name);\n    const h3 = hash32(\"C|\" + name);\n    const h4 = hash32(\"D|\" + name);\n\n    const p1 = (h1 ^ (h3 >>> 1)) >>> 0;\n    const p2 = (h2 ^ (h4 >>> 1)) >>> 0;\n\n    // IMPORTANT: normalize to UPPERCASE here\n    return (hex8(p1) + hex8(p2)).toUpperCase();\n}\n\n// ---------- kPa <-> Hz ----------\nfunction kPaToHz(kpa) {\n    const K = clamp(kpa, 0, 200);\n    let hz;\n\n    if (K <= 9) {\n        hz = 4330 + (9 - K) / 0.004286;\n        hz = clamp(hz, 4330, 6430);\n    } else if (K <= 15) {\n        hz = 2820 + (15 - K) / 0.003974;\n        hz = clamp(hz, 2820, 4330);\n    } else if (K <= 35) {\n        hz = 1110 + (35 - K) / 0.01170;\n        hz = clamp(hz, 1110, 2820);\n    } else if (K <= 55) {\n        hz = 770 + (55 - K) / 0.05884;\n        hz = clamp(hz, 770, 1110);\n    } else if (K <= 75) {\n        hz = 600 + (75 - K) / 0.1176;\n        hz = clamp(hz, 600, 770);\n    } else if (K <= 100) {\n        hz = 485 + (100 - K) / 0.2174;\n        hz = clamp(hz, 485, 600);\n    } else {\n        hz = 293 + (200 - K) / 0.5208;\n        hz = clamp(hz, 293, 485);\n    }\n\n    // Small measurement noise\n    hz += (Math.random() * 8 - 4); // +/- 4 Hz\n    hz = Math.round(clamp(hz, 250, 7000));\n    return hz;\n}\n\n// ---------- lux / temp / RH ----------\nfunction luxFromLocalTime(d) {\n    const h = d.getHours() + d.getMinutes() / 60;\n    const sunrise = 6.25;\n    const sunset = 18.75;\n\n    if (h < sunrise || h > sunset) return Math.max(0, Math.round(Math.random() * 3));\n\n    const x = (h - sunrise) / (sunset - sunrise) * Math.PI;\n    const base = Math.sin(x); // 0..1..0\n    const peakLux = 65000;\n    const cloudFactor = 0.6 + Math.random() * 0.4;\n    const noise = 0.95 + Math.random() * 0.10;\n\n    return Math.round(peakLux * base * cloudFactor * noise);\n}\n\nfunction tempRhFromLocalTime(d, lux) {\n    const h = d.getHours() + d.getMinutes() / 60;\n    const luxRatio = clamp((lux || 0) / 65000, 0, 1);\n\n    // Temperature: peak around ~15:00\n    const tMin = 20.5;\n    const tMax = 31.0;\n    const amp = tMax - tMin;\n\n    const phase = ((h - 15) / 24) * 2 * Math.PI;\n    const tempCycle = 0.5 * (1 + Math.cos(phase)); // 0..1\n\n    const sunBoost = 1.2 * (luxRatio - 0.5);\n    let temp = tMin + amp * tempCycle + sunBoost;\n    temp += (Math.random() * 0.6 - 0.3);\n    temp = clamp(temp, 18, 35);\n\n    // RH inverse to tempCycle\n    const rhMax = 92;\n    const rhMin = 58;\n    const invCycle = 1 - tempCycle;\n\n    let rh = rhMin + (rhMax - rhMin) * invCycle;\n    rh += (1 - luxRatio) * 4;\n    rh += (Math.random() * 3 - 1.5);\n    rh = clamp(rh, 35, 100);\n\n    return {\n        ambient_temperature: Math.round(temp * 10) / 10,\n        relative_humidity: Math.round(rh * 10) / 10\n    };\n}\n\n// ---------- per-device dynamics ----------\nfunction initDeviceState(deviceName, devEui, profile) {\n    return {\n        deviceName,\n        devEui,\n\n        wm1_kpa: profile.wm1_start,\n        wm2_kpa: profile.wm2_start,\n\n        wm1_target: profile.wm1_target,\n        wm2_target: profile.wm2_target,\n\n        wettingActive: false,\n        wettingStepsLeft: 0,\n        wettingIntensity: 0,\n\n        wm2_disconnectActive: false,\n        wm2_disconnectStepsLeft: 0,\n\n        wetProb: profile.wetProb,\n        wm2DiscProb: profile.wm2DiscProb,\n\n        dryBiasWm1: 0.15 + Math.random() * 0.25,\n        dryBiasWm2: 0.25 + Math.random() * 0.45\n    };\n}\n\nfunction stepDeviceState(st) {\n    const dryStepWm1 = st.dryBiasWm1 + (Math.random() * 0.6);\n    const dryStepWm2 = st.dryBiasWm2 + (Math.random() * 1.0);\n\n    const noiseWm1 = (Math.random() * 0.6 - 0.3);\n    const noiseWm2 = (Math.random() * 0.9 - 0.45);\n\n    if (Math.random() < 0.035) st.wm1_target = clamp(st.wm1_target + (Math.random() * 4 - 2), 12, 55);\n    if (Math.random() < 0.055) st.wm2_target = clamp(st.wm2_target + (Math.random() * 10 - 4), 18, 135);\n\n    if (!st.wettingActive && Math.random() < st.wetProb) {\n        st.wettingActive = true;\n        st.wettingStepsLeft = 6 + Math.floor(Math.random() * 10);\n        st.wettingIntensity = 8 + Math.random() * 28;\n    }\n\n    if (!st.wm2_disconnectActive && Math.random() < st.wm2DiscProb) {\n        st.wm2_disconnectActive = true;\n        st.wm2_disconnectStepsLeft = 8 + Math.floor(Math.random() * 24);\n    }\n\n    if (st.wettingActive && st.wettingStepsLeft > 0) {\n        const stepFrac = st.wettingStepsLeft / Math.max(1, (st.wettingStepsLeft + 4));\n        const drop = (st.wettingIntensity / (st.wettingStepsLeft + 2)) * (1.1 - 0.4 * stepFrac);\n\n        st.wm1_kpa -= drop * 0.6;\n        st.wm2_kpa -= drop * 0.9;\n\n        st.wettingStepsLeft -= 1;\n\n        if (st.wettingStepsLeft <= 0) {\n            st.wettingActive = false;\n            st.wettingIntensity = 0;\n            st.wm1_target = clamp(st.wm1_target - (2 + Math.random() * 6), 8, 45);\n            st.wm2_target = clamp(st.wm2_target - (4 + Math.random() * 10), 12, 110);\n        }\n    } else {\n        st.wm1_kpa += dryStepWm1;\n        st.wm2_kpa += dryStepWm2;\n\n        st.wm1_kpa += (st.wm1_target - st.wm1_kpa) * 0.03;\n        st.wm2_kpa += (st.wm2_target - st.wm2_kpa) * 0.03;\n    }\n\n    st.wm1_kpa = clamp(st.wm1_kpa + noiseWm1, 0, 150);\n    st.wm2_kpa = clamp(st.wm2_kpa + noiseWm2, 0, 150);\n\n    let wm2EffectiveKpa = st.wm2_kpa;\n    if (st.wm2_disconnectActive) {\n        wm2EffectiveKpa = 200;\n        st.wm2_disconnectStepsLeft -= 1;\n        if (st.wm2_disconnectStepsLeft <= 0) st.wm2_disconnectActive = false;\n    }\n\n    return { wm1: st.wm1_kpa, wm2: wm2EffectiveKpa };\n}\n\n// ---------- device list ----------\nconst farmId = \"001\";\n\nconst deviceNames = [\n    `farm_${farmId}_sensor_001_type_KIWI`,\n    `farm_${farmId}_sensor_002_type_KIWI`,\n    `farm_${farmId}_sensor_003_type_KIWI`,\n    `farm_${farmId}_sensor_004_type_KIWI`,\n    `farm_${farmId}_sensor_005_type_KIWI`,\n    `farm_${farmId}_sensor_006_type_KIWI`\n];\n\nconst profiles = [\n    { wm1_start: 22, wm2_start: 34, wm1_target: 28, wm2_target: 45, wetProb: 0.008, wm2DiscProb: 0.0003 },\n    { wm1_start: 26, wm2_start: 42, wm1_target: 33, wm2_target: 58, wetProb: 0.007, wm2DiscProb: 0.0004 },\n    { wm1_start: 18, wm2_start: 38, wm1_target: 26, wm2_target: 52, wetProb: 0.009, wm2DiscProb: 0.0002 },\n\n    { wm1_start: 30, wm2_start: 60, wm1_target: 38, wm2_target: 85, wetProb: 0.006, wm2DiscProb: 0.0006 },\n    { wm1_start: 28, wm2_start: 55, wm1_target: 36, wm2_target: 95, wetProb: 0.006, wm2DiscProb: 0.0006 },\n    { wm1_start: 24, wm2_start: 48, wm1_target: 34, wm2_target: 75, wetProb: 0.007, wm2DiscProb: 0.0005 }\n];\n\n// ---------- state init ----------\nconst key = \"kiwiSimMultiState\";\nlet state = flow.get(key);\nif (!state) state = {};\n\nconst now = new Date();\nconst nowIso = now.toISOString();\n\nconst lux = luxFromLocalTime(now);\nconst th = tempRhFromLocalTime(now, lux);\n\nconst outMsgs = [];\n\nfor (let i = 0; i < deviceNames.length; i++) {\n    const name = deviceNames[i];\n    const devEui = makeDevEuiFromName(name); // already UPPERCASE\n\n    if (!state[name]) {\n        state[name] = initDeviceState(name, devEui, profiles[i]);\n    } else {\n        state[name].deviceName = name;\n        state[name].devEui = devEui;\n    }\n\n    const st = state[name];\n    const kpa = stepDeviceState(st);\n\n    const f5 = kPaToHz(kpa.wm1);\n    const f6 = kPaToHz(kpa.wm2);\n\n    const payload = {\n        deduplicationId: \"SIM-\" + Math.random().toString(16).slice(2),\n        time: nowIso,\n        deviceInfo: {\n            deviceName: name,\n            devEui: devEui // UPPERCASE\n        },\n        object: {\n            input5_frequency: f5,\n            input6_frequency: f6,\n            light_intensity: lux,\n            ambient_temperature: th.ambient_temperature,\n            relative_humidity: th.relative_humidity,\n            port: \"10\",\n            raw: \"[SIMULATED]\"\n        }\n    };\n\n    outMsgs.push({ payload });\n}\n\n// Persist state\nflow.set(key, state);\n\nconst s0 = state[deviceNames[0]];\nnode.status({\n    fill: (s0 && s0.wettingActive) ? \"blue\" : \"green\",\n    shape: \"dot\",\n    text: `SIM x6 | lux=${lux} T=${th.ambient_temperature}C RH=${th.relative_humidity}%`\n});\n\n// Emit 6 messages (one per device)\nreturn [outMsgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "a3684dcbadf26bef"
            ]
        ]
    },
    {
        "id": "a3684dcbadf26bef",
        "type": "link out",
        "z": "a88bb648cac221ce",
        "name": "link sensor_kiwi",
        "mode": "link",
        "links": [
            "813e31efaf815aaf"
        ],
        "x": 775,
        "y": 280,
        "wires": []
    },
    {
        "id": "e382bbf0dde572b1",
        "type": "mqtt in",
        "z": "a3f03829ad106e10",
        "name": "MQTT IN (Field Testing)",
        "topic": "application/ac0fa0cb-8775-418e-8181-6346862660d5/#",
        "qos": "2",
        "datatype": "json",
        "broker": "b0b19352dac3fb34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "95ced3f73fa8a692",
                "e96440ceae67e133"
            ]
        ]
    },
    {
        "id": "ba161483e3b8e79c",
        "type": "mqtt out",
        "z": "a3f03829ad106e10",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b0b19352dac3fb34",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "95ced3f73fa8a692",
        "type": "field_tester_service",
        "z": "a3f03829ad106e10",
        "name": "",
        "parser": "cs34",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "ba161483e3b8e79c"
            ]
        ]
    },
    {
        "id": "48273b576d5b1b93",
        "type": "function",
        "z": "a3f03829ad106e10",
        "name": "Build FT SQL",
        "func": "// Function node with 2 outputs\n// Output 1: msg.params for uplink prepared statement (30 params)\n// Output 2: array of msgs, each with msg.params for rxinfo prepared statement (9 params)\n\nlet p = msg.payload;\nif (typeof p === \"string\") {\n  try { p = JSON.parse(p); } catch (e) { return null; }\n}\nif (!p || typeof p !== \"object\") return null;\n\nconst di = p.deviceInfo || {};\n\nconst dedupId = p.deduplicationId || p.deduplication_id || null;\nconst ts = p.time || null;\nconst devEui = di.devEui || p.devEui || null;\nconst payloadB64 = (typeof p.data === \"string\" && p.data.length) ? p.data : null;\n\n// Required for NOT NULL columns in uplinks table\nif (!dedupId || !ts || !devEui || !payloadB64) return null;\n\n// Best-effort hex\nlet payloadHex = null;\nlet payloadBuf = null;\ntry {\n  payloadBuf = Buffer.from(payloadB64, \"base64\");\n  payloadHex = payloadBuf.toString(\"hex\");\n} catch (e) {\n  payloadBuf = null;\n  payloadHex = null;\n}\n\nconst tx = p.txInfo || {};\nconst lora = (tx.modulation && tx.modulation.lora) ? tx.modulation.lora : {};\n\n// --- GPS decode (Helium mapper style) ---\n// We store even if quality is poor; you can filter later by hdop/sats.\nfunction decodeGps(buf) {\n  if (!buf || buf.length < 10) {\n    return { ok: 0, error: `Payload too short (${buf ? buf.length : 0} bytes)` };\n  }\n\n  const lonSign = ((buf[0] >> 7) & 0x01) ? -1 : 1;\n  const latSign = ((buf[0] >> 6) & 0x01) ? -1 : 1;\n\n  const encLat = ((buf[0] & 0x3f) << 17) +\n                 (buf[1] << 9) +\n                 (buf[2] << 1) +\n                 (buf[3] >> 7);\n\n  const encLon = ((buf[3] & 0x7f) << 16) +\n                 (buf[4] << 8) +\n                 buf[5];\n\n  const latitude  = latSign * (encLat * 108 + 53) / 10000000.0;\n  const longitude = lonSign * (encLon * 215 + 107) / 10000000.0;\n  const altitude_m = ((buf[6] << 8) + buf[7]) - 1000;\n\n  const hdop = buf[8] / 10.0;\n  const sats = buf[9];\n  const accuracy_m = (hdop * 5 + 5) / 10.0;\n\n  return { ok: 1, latitude, longitude, altitude_m, hdop, sats, accuracy_m };\n}\n\nlet gps = { ok: null };\nif (p.fPort === 1 && payloadBuf) {\n  try {\n    gps = decodeGps(payloadBuf);\n  } catch (e) {\n    gps = { ok: 0, error: e.message };\n  }\n}\n\n// --- Optional distance-to-hub (only if you decide to add distance_m column) ---\n// Set USE_DISTANCE = true only if you performed the ALTER TABLE.\nconst USE_DISTANCE = false;\n\n// If you enable it, set hub coordinates here:\nconst HUB_LAT = 46.997800;   // example\nconst HUB_LON = 6.932770;    // example\n\nfunction haversineMeters(lat1, lon1, lat2, lon2) {\n  const toRad = (x) => x * Math.PI / 180.0;\n  const R = 6371000.0;\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat/2)**2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * Math.sin(dLon/2)**2;\n  return 2 * R * Math.asin(Math.sqrt(a));\n}\n\nlet distance_m = null;\nif (USE_DISTANCE && gps.ok === 1) {\n  distance_m = haversineMeters(HUB_LAT, HUB_LON, gps.latitude, gps.longitude);\n}\n\n// Uplink params order MUST match the SQL in your uplinks sqlite node (30 placeholders)\nconst uplinkMsg = {\n  params: [\n    dedupId,\n    ts,\n\n    di.tenantId || null,\n    di.applicationId || null,\n    di.applicationName || null,\n\n    di.deviceProfileId || null,\n    di.deviceProfileName || null,\n\n    di.deviceName || null,\n    devEui,\n    p.devAddr || null,\n\n    (p.adr === true) ? 1 : 0,\n    (typeof p.dr === \"number\") ? p.dr : null,\n    (typeof p.fCnt === \"number\") ? p.fCnt : null,\n    (typeof p.fPort === \"number\") ? p.fPort : null,\n    (p.confirmed === true) ? 1 : 0,\n\n    tx.regionConfigId || null,\n    (typeof tx.frequency === \"number\") ? tx.frequency : null,\n    (typeof lora.bandwidth === \"number\") ? lora.bandwidth : null,\n    (typeof lora.spreadingFactor === \"number\") ? lora.spreadingFactor : null,\n    lora.codeRate || null,\n\n    payloadB64,\n    payloadHex,\n\n    // GPS fields (columns 23..28)\n    (gps.ok === 1) ? gps.latitude : null,\n    (gps.ok === 1) ? gps.longitude : null,\n    (gps.ok === 1) ? gps.altitude_m : null,\n    (gps.ok === 1) ? gps.hdop : null,\n    (gps.ok === 1) ? gps.sats : null,\n    (gps.ok === 1) ? gps.accuracy_m : null,\n\n    // decode_ok, decode_error (29..30)\n    (gps.ok === 1) ? 1 : ((gps.ok === 0) ? 0 : null),\n    (gps.ok === 0) ? gps.error : null\n  ]\n};\n\n// Build rxinfo messages (each must provide msg.params with 9 values)\nconst rxMsgs = [];\nconst rxList = Array.isArray(p.rxInfo) ? p.rxInfo : [];\n\nfor (const rx of rxList) {\n  if (!rx || !rx.gatewayId) continue;\n\n  rxMsgs.push({\n    params: [\n      dedupId,\n      rx.gatewayId,\n      (typeof rx.uplinkId === \"number\") ? rx.uplinkId : null,\n      rx.nsTime || null,\n      (typeof rx.rssi === \"number\") ? rx.rssi : null,\n      (typeof rx.snr === \"number\") ? rx.snr : null,\n      (typeof rx.channel === \"number\") ? rx.channel : null,\n      rx.crcStatus || null,\n      rx.context || null\n    ]\n  });\n}\n\nreturn [uplinkMsg, rxMsgs];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "8b22c890f679a9e8"
            ],
            [
                "79181a4859daf8eb"
            ]
        ]
    },
    {
        "id": "8b22c890f679a9e8",
        "type": "sqlite",
        "z": "a3f03829ad106e10",
        "mydb": "734737e846d06893",
        "sqlquery": "prepared",
        "sql": "INSERT INTO field_tester_uplinks (\n  deduplication_id, ts,\n  tenant_id, application_id, application_name,\n  device_profile_id, device_profile_name, device_name,\n  dev_eui, dev_addr,\n  adr, dr, f_cnt, f_port, confirmed,\n  region, frequency_hz, bandwidth_hz, spreading_factor, code_rate,\n  payload_b64, payload_hex,\n  latitude, longitude, altitude_m, hdop, sats, accuracy_m,\n  decode_ok, decode_error\n) VALUES (\n  $1, $2,\n  $3, $4, $5,\n  $6, $7, $8,\n  $9, $10,\n  $11, $12, $13, $14, $15,\n  $16, $17, $18, $19, $20,\n  $21, $22,\n  $23, $24, $25, $26, $27, $28,\n  $29, $30\n);\n",
        "name": "SQL uplinks",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e96440ceae67e133",
        "type": "device event",
        "z": "a3f03829ad106e10",
        "name": "",
        "eventType": "up",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "48273b576d5b1b93"
            ]
        ]
    },
    {
        "id": "79181a4859daf8eb",
        "type": "sqlite",
        "z": "a3f03829ad106e10",
        "mydb": "734737e846d06893",
        "sqlquery": "prepared",
        "sql": "INSERT OR IGNORE INTO field_tester_rxinfo (\n  deduplication_id, gateway_id,\n  uplink_id_num, ns_time,\n  rssi_dbm, snr_db, channel,\n  crc_status, context_b64\n) VALUES (\n  $1, $2,\n  $3, $4,\n  $5, $6, $7,\n  $8, $9\n);\n",
        "name": "SQL rxinfo",
        "x": 770,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "httpin_download_fieldtest",
        "type": "http in",
        "z": "a3f03829ad106e10",
        "name": "GET /download-fieldtest",
        "url": "/download-fieldtest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "fn_build_sql_params"
            ]
        ]
    },
    {
        "id": "fn_build_sql_params",
        "type": "function",
        "z": "a3f03829ad106e10",
        "name": "Build SQL + Params",
        "func": "// Builds a prepared SQL query + params from optional URL query filters.\n// Supports: from, to, dev_eui, gateway_id\n// Example:\n// /download-fieldtest?from=2026-01-01T00:00:00Z&to=2026-01-02T00:00:00Z&dev_eui=...&gateway_id=...\n\nconst q = msg.req?.query || {};\n\nconst from = (typeof q.from === 'string' && q.from.trim()) ? q.from.trim() : null;\nconst to   = (typeof q.to === 'string' && q.to.trim()) ? q.to.trim() : null;\nconst devEui = (typeof q.dev_eui === 'string' && q.dev_eui.trim()) ? q.dev_eui.trim() : null;\nconst gwId = (typeof q.gateway_id === 'string' && q.gateway_id.trim()) ? q.gateway_id.trim() : null;\n\nlet sql = `\nSELECT\n  u.ts,\n  u.dev_eui,\n  u.f_cnt,\n  u.dr,\n  u.spreading_factor,\n  u.frequency_hz,\n  u.bandwidth_hz,\n  u.code_rate,\n  u.confirmed,\n  u.latitude,\n  u.longitude,\n  u.altitude_m,\n  u.hdop,\n  u.sats,\n  u.accuracy_m,\n  r.gateway_id,\n  r.rssi_dbm,\n  r.snr_db,\n  r.channel,\n  r.crc_status\nFROM field_tester_uplinks u\nLEFT JOIN field_tester_rxinfo r\n  ON u.deduplication_id = r.deduplication_id\nWHERE 1=1\n`;\n\nconst params = [];\n\nif (from) {\n  sql += ` AND u.ts >= ?`;\n  params.push(from);\n}\nif (to) {\n  sql += ` AND u.ts <= ?`;\n  params.push(to);\n}\nif (devEui) {\n  sql += ` AND u.dev_eui = ?`;\n  params.push(devEui);\n}\nif (gwId) {\n  sql += ` AND r.gateway_id = ?`;\n  params.push(gwId);\n}\n\nsql += ` ORDER BY u.ts;`;\n\n// For node-red-node-sqlite you can either:\n// - put SQL in msg.topic and params in msg.params (works well), OR\n// - configure sqlite node as prepared with fixed SQL (less flexible for filters)\nmsg.topic = sql;\nmsg.params = params;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "sqlite_query_fieldtest"
            ]
        ]
    },
    {
        "id": "sqlite_query_fieldtest",
        "type": "sqlite",
        "z": "a3f03829ad106e10",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite query fieldtest",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "fn_rows_to_csv"
            ]
        ]
    },
    {
        "id": "fn_rows_to_csv",
        "type": "function",
        "z": "a3f03829ad106e10",
        "name": "Rows → CSV + Headers",
        "func": "// msg.payload is expected to be an array of row objects from sqlite node.\n// Convert to CSV and return as downloadable attachment.\n\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\n// Helper: CSV escape\nfunction esc(v) {\n  if (v === null || v === undefined) return '';\n  const s = String(v);\n  // Escape quotes by doubling them\n  const needsQuotes = /[\\n\\r,\\\"]/g.test(s);\n  const out = s.replace(/\\\"/g, '\"\"');\n  return needsQuotes ? `\"${out}\"` : out;\n}\n\n// Define a stable column order\nconst cols = [\n  'ts','dev_eui','f_cnt','dr','spreading_factor','frequency_hz','bandwidth_hz','code_rate','confirmed',\n  'latitude','longitude','altitude_m','hdop','sats','accuracy_m',\n  'gateway_id','rssi_dbm','snr_db','channel','crc_status'\n];\n\nlet csv = cols.join(',') + '\\n';\nfor (const r of rows) {\n  const line = cols.map(c => esc(r?.[c])).join(',');\n  csv += line + '\\n';\n}\n\n// Filename with timestamp\nconst now = new Date().toISOString().replace(/[:]/g,'-');\nconst filename = `fieldtest_${now}.csv`;\n\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'text/csv; charset=utf-8';\nmsg.headers['Content-Disposition'] = `attachment; filename=\"${filename}\"`;\n\nmsg.payload = csv;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "httpresp_download_fieldtest"
            ]
        ]
    },
    {
        "id": "httpresp_download_fieldtest",
        "type": "http response",
        "z": "a3f03829ad106e10",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "httpin_download_sensordata",
        "type": "http in",
        "z": "7d4f3e45f4b0d111",
        "name": "GET /download-sensordata",
        "url": "/download-sensordata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "fn_build_sensor_sql_params"
            ]
        ]
    },
    {
        "id": "fn_build_sensor_sql_params",
        "type": "function",
        "z": "7d4f3e45f4b0d111",
        "name": "Build SQL + Params",
        "func": "// Exports sensor readings from device_data joined with devices.\n// Optional query params: from, to, deveui, zone_id\n\nconst q = msg.req?.query || {};\n\nconst from   = (typeof q.from === 'string'   && q.from.trim())   ? q.from.trim()   : null;\nconst to     = (typeof q.to === 'string'     && q.to.trim())     ? q.to.trim()     : null;\nconst devEui = (typeof q.deveui === 'string' && q.deveui.trim()) ? q.deveui.trim() : null;\nconst zoneId = (typeof q.zone_id === 'string'&& q.zone_id.trim())? q.zone_id.trim(): null;\n\nlet sql = `\nSELECT\n  dd.recorded_at AS ts,\n  dd.deveui      AS deveui,\n  d.name         AS device_name,\n  d.type_id      AS device_type,\n  d.irrigation_zone_id AS zone_id,\n  dd.swt_wm1,\n  dd.swt_wm2,\n  dd.light_lux,\n  dd.ambient_temperature,\n  dd.relative_humidity\nFROM device_data dd\nLEFT JOIN devices d\n  ON dd.deveui = d.deveui\nWHERE 1=1\n`;\n\nconst params = [];\n\nif (from)   { sql += ` AND dd.recorded_at >= ?`; params.push(from); }\nif (to)     { sql += ` AND dd.recorded_at <= ?`; params.push(to); }\nif (devEui) { sql += ` AND dd.deveui = ?`; params.push(devEui); }\nif (zoneId) { sql += ` AND d.irrigation_zone_id = ?`; params.push(zoneId); }\n\nsql += ` ORDER BY dd.recorded_at;`;\n\nmsg.topic = sql;\nmsg.params = params;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "sqlite_query_sensordata"
            ]
        ]
    },
    {
        "id": "sqlite_query_sensordata",
        "type": "sqlite",
        "z": "7d4f3e45f4b0d111",
        "mydb": "734737e846d06893",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite query sensordata",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "fn_rows_to_csv_sensordata"
            ]
        ]
    },
    {
        "id": "fn_rows_to_csv_sensordata",
        "type": "function",
        "z": "7d4f3e45f4b0d111",
        "name": "Rows → CSV + Download",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nfunction esc(v) {\n  if (v === null || v === undefined) return '';\n  const s = String(v);\n  const needsQuotes = /[\\n\\r,\\\"]/g.test(s);\n  const out = s.replace(/\\\"/g, '\"\"');\n  return needsQuotes ? `\"${out}\"` : out;\n}\n\nconst cols = [\n  'ts','deveui','device_name','device_type','zone_id',\n  'swt_wm1','swt_wm2','light_lux','ambient_temperature','relative_humidity'\n];\n\nlet csv = cols.join(',') + '\\n';\nfor (const r of rows) {\n  csv += cols.map(c => esc(r?.[c])).join(',') + '\\n';\n}\n\nconst now = new Date().toISOString().replace(/[:]/g, '-');\nconst filename = `sensordata_${now}.csv`;\n\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'text/csv; charset=utf-8';\nmsg.headers['Content-Disposition'] = `attachment; filename=\"${filename}\"`;\nmsg.payload = csv;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 140,
        "wires": [
            [
                "httpresp_download_sensordata"
            ]
        ]
    },
    {
        "id": "httpresp_download_sensordata",
        "type": "http response",
        "z": "7d4f3e45f4b0d111",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "catch_download_sensordata",
        "type": "catch",
        "z": "7d4f3e45f4b0d111",
        "name": "Catch errors (avoid hanging HTTP)",
        "scope": [
            "fn_build_sensor_sql_params",
            "sqlite_query_sensordata",
            "fn_rows_to_csv_sensordata"
        ],
        "uncaught": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "fn_http500"
            ]
        ]
    },
    {
        "id": "fn_http500",
        "type": "function",
        "z": "7d4f3e45f4b0d111",
        "name": "Return HTTP 500",
        "func": "msg.statusCode = 500;\nmsg.headers = { 'Content-Type': 'application/json; charset=utf-8' };\nmsg.payload = {\n  error: 'download-sensordata failed',\n  message: msg.error?.message || String(msg.error || 'unknown error')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "httpresp_download_sensordata"
            ]
        ]
    }
]